Redirect 301 /startsida/ /
Redirect 301 /testsida/ /
Redirect 301 /test/ /
Redirect 301 /erbjudanden/ /
Redirect 301 /butiksstadning-solna/ /foretag/butikstadning/
Redirect 301 /butiksstadning-stockholm/ /foretag/butikstadning/
Redirect 301 /flyttstadning-kista/ /privat/flyttstadning/
Redirect 301 /flyttstadning-stockholm/ /privat/flyttstadning/
Redirect 301 /flyttstadning-vallingby/ /privat/flyttstadning/
Redirect 301 /flyttstadning-vasastan/ /privat/flyttstadning/
Redirect 301 /fonsterputs-solna/ /foretag/fonsterputs/
Redirect 301 /fonsterputs-sundbyberg/ /foretag/fonsterputs/
Redirect 301 /fonsterputsning-solna/ /foretag/fonsterputs/
Redirect 301 /foretag/byggstadning/ /foretag/
Redirect 301 /foretag/hotellstadning/ /foretag/
Redirect 301 /hemstadning-danderyd/ /privat/hemstadning/
Redirect 301 /hemstadning-kista/ /privat/hemstadning/
Redirect 301 /hemstadning-solna/ /privat/hemstadning/
Redirect 301 /hemstadning-sundbyberg/ /privat/hemstadning/
Redirect 301 /hemstadning-taby/ /privat/hemstadning/
Redirect 301 /hemstadning-vallingby/ /privat/hemstadning/
Redirect 301 /hemstadning-vasastan/ /privat/hemstadning/
Redirect 301 /kontorsstadning-solna/ /foretag/kontorstadning/
Redirect 301 /kontorsstadning-stockholm/ /foretag/kontorstadning/
Redirect 301 /kontorsstadning-sundbyberg/ /foretag/kontorstadning/
Redirect 301 /stad-sundbyberg/ /
Redirect 301 /stadfirma-bromma/ /
Redirect 301 /stadfirma-kista/ /
Redirect 301 /stadfirma-taby/ /
Redirect 301 /stadfirma-vallingby/ /
Redirect 301 /stadfirma-vasastan/ /
Redirect 301 /stadforetag-bromma/ /
Redirect 301 /stadforetag-kista/ /
Redirect 301 /stadforetag-sundbyberg/ /
Redirect 301 /stadforetag-vallingby/ /
Redirect 301 /stadforetag-vasastan/ /
Redirect 301 /stadning-solna/ /
Redirect 301 /storstadning-solna/ /privat/storstadning/
Redirect 301 /storstadning-sundbyberg/ /privat/storstadning/
Redirect 301 /privat/visningsstadning/ /privat/storstadning/
