---
title: 'Städhjälp för företag i Stockholm'
description: 'Städhjälp och lokalvård för företag i Stockholm med fokus på kvalitet och trygghet.'
image: '/images/introforetag.jpg'
layout: infosidor
---


<!-- Content -->
<div class="editable">
    <h2>En renare vardag AB – Städhjälp med Kvalitetssäkring</h2>
    <p>Vi arbetar med ett eget kontrollprogram för kvalitetssäkring. Det bygger på följande delar:</p>

    </div>
    <div class="row">
        <div class="col-4 col-12-medium editable">
        <h3>Ansvar &amp; egenkontroll</h3>
        <p><span class="image left"><img src="/images/ikon/nojdkund.png" alt="Nöjd Kund Garanti" /></span>Varje anställd är personligt ansvariga för ett antal städobjekt. För dig som kund är detta en trygghet, eftersom det oftast är samma person som utför uppdraget varje vecka. Vid varje städtillfälle kontrollerar den ansvarige att samtliga moment är utförda och signerar en lista. De anställda rapporterar fel och eventuella brister till ansvarig städledare.</p>
      </div>
      <div class="col-4 col-12-medium editable">
        <h3>Arbetsledarens kvalitetskontroll</h3>
        <p>
            Med jämna intervall kontrollerar arbetsledaren städobjektet och deltar i det dagliga arbetet tillsammans med ansvarig personal. Det sker även särskilda granskningskontroller minst sex gånger per år för att säkerställa kvaliteten.   Uppföljning : Alla reklamationer och eventuella avvikelser från städprogrammet följs snabbt upp och åtgärdas omgående. Arbetsledare och all personal träffas dessutom flera gånger per månad och diskuterar kvalitetsarbetet. Vi har även utbildningsdagar där personalen kan få möjlighet till kompetensutveckling.</p>
      </div>
      
      <div class="col-4 col-12-medium editable">
        <h3>Minst en gång per år gör vi även en uppföljning av avtal och städprogram med samtliga kunder.</h3>

      </div>
    </div>


							<!-- Section Foretag -->
								<section>
									<header class="major">
										<h2>Våra tjänster för företag</h2>
									</header>
									<div class="features">
{% for foretag in site.foretag %}{% if foretag.framsida == true %}
										<article>
											<span class="icon"><img src="{{ foretag.icon_image }}" width="50px" /></span>
											<div class="content">
												<h3><a href="{{ foretag.url }}{{ foretag.hubspot }}">{{ foretag.menutitle }}</a></h3>
                        <p>{{ foretag.description }}</p>
                        <a href="{{ foretag.url }}{{ foretag.hubspot }}" class="button">Läs mer & boka kostnadsfritt möte</a>
											</div>
                    </article>
{% endif %}{% endfor %}
									</div>
                </section>
                
							<!-- Section -->
								<section>
									<header class="major">
										<h2>Vi är En Renare Vardag</h2>
									</header>
									<div class="posts">
{% for post in site.posts %}
										<article>
											<a href="{{ post.url }}" class="image"><img src="{{ post.image }}" alt="" /></a>
											<h3>{{ post.title }}</h3>
											<p>{{ post.description }}</p>
											<ul class="actions">
												<li><a href="{{ post.url }}" class="button">Läs mer</a></li>
											</ul>
										</article>
{% endfor %}
                  </div>
                  
								</section>









