---
title: 'Städhjälp för företag i Stockholm'
description: 'Städhjälp och lokalvård för företag i Stockholm med fokus på kvalitet och trygghet.'
image: '/images/introforetag.jpg'
layout: main/infosidor
---

<!-- Content -->
<div class="editable" style="width:100%;">

  <h2>En renare vardag AB &ndash; St&auml;dhj&auml;lp med Kvalitetss&auml;kring</h2>
  {% include /main/reco.html %}
  <h3>Vi arbetar med ett eget kontrollprogram f&ouml;r kvalitetss&auml;kring av st&auml;dning av arbetsplatser. Det
    bygger p&aring; f&ouml;ljande delar:</h3>

</div>
<div style="display: flex; flex-wrap: wrap;">
  <div class="editable" style="border-top: 1px solid #eee;flex: 1 1 280px;padding-right:10px;margin-right:10px;">
    <h3>Ansvar &amp; egenkontroll</h3>
    <p><span class="image left"><img alt="Nöjd Kund Garanti" src="/images/ikon/nojdkund.png" /></span>Varje
      anst&auml;lld &auml;r personligt ansvariga f&ouml;r ett antal st&auml;dobjekt. F&ouml;r dig som kund &auml;r detta
      en trygghet, eftersom det oftast &auml;r samma person som utf&ouml;r uppdraget varje vecka. Vid varje
      st&auml;dtillf&auml;lle kontrollerar den ansvarige att samtliga moment av st&auml;dningen &auml;r utf&ouml;rda och
      signerar en lista. De anst&auml;llda rapporterar fel och eventuella brister till ansvarig st&auml;dledare.</p>
  </div>
  <div class="editable" style="border-top: 1px solid #eee;flex: 1 1 280px;padding-right:10px;margin-right:10px;">
    <h3>Arbetsledarens kvalitetskontroll</h3>  <p>Med j&auml;mna intervall kontrollerar arbetsledaren st&auml;dobjektet
      och deltar i det dagliga arbetet tillsammans med ansvarig personal. Det sker &auml;ven s&auml;rskilda
      granskningskontroller minst sex g&aring;nger per &aring;r f&ouml;r att s&auml;kerst&auml;lla st&auml;dningens
      regelbundna kvaliteten. Uppf&ouml;ljning : Alla reklamationer och eventuella avvikelser fr&aring;n
      st&auml;dprogrammet f&ouml;ljs snabbt upp och &aring;tg&auml;rdas omg&aring;ende. Arbetsledare och all personal
      tr&auml;ffas dessutom flera g&aring;nger per m&aring;nad och diskuterar kvalitetsarbetet. Vi har &auml;ven
      utbildningsdagar d&auml;r personalen kan f&aring; m&ouml;jlighet till kompetensutveckling.</p>
  </div>

  <div class="editable" style="border-top: 1px solid #eee;flex: 1 1 280px;padding-right:10px;margin-right:10px;">
    <h3>Minst en g&aring;ng per &aring;r g&ouml;r vi &auml;ven en uppf&ouml;ljning av avtal och st&auml;dprogram med
      samtliga kunder.</h3>
    <p>Det &auml;r igenom dialog och lyh&ouml;rdhet som vi &auml;r Stockholms mest omtyckta st&auml;df&ouml;retag!
      Fr&aring;n S&ouml;dermalm till Vastastan, via &Ouml;stermalm och Kungsholmen. Se sj&auml;lv vad v&aring;ra kunder
      s&auml;ger i v&aring;rat omd&ouml;me p&aring; <a target="_blank"
        href="https://www.reco.se/en-renare-vardag">Reco</a>.</p>
    <p><img src="/images/ikon/trustFiveYears-150.png" /></p>
  </div>
</div>


<!-- Section Foretag -->
<section>
  <header class="major">
    <h2>Våra tjänster för företag</h2>
  </header>
  <div class="features">
    {% for foretag in site.foretag %}{% if foretag.framsida == true %}
    <article>
      <span class="icon"><img src="{{ foretag.icon_image }}" width="50px" /></span>
      <div class="content">
        <h3><a href="{{ foretag.url }}">{{ foretag.menutitle }}</a></h3>
        <p>{{ foretag.description }}</p>
        <a href="{{ foretag.url }}" class="button">Läs mer & boka kostnadsfritt möte</a>
      </div>
    </article>
    {% endif %}{% endfor %}
  </div>
</section>


