---
title: "Städfirma i Stockholm"
description: "Alltid prisgaranti! Städhjälp och lokalvård i Stockholm med fokus på kvalitet och trygghet."
---

<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>{{ page.title }}<br /></h1>
											
											<p>{{ page.description }}</p>
										</header>
										<p class="editable">
											Aenean test for cuk sake ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.
										</p>
										<ul class="actions">
											<li><a href="/boka/" class="button primary large editable">Boka Nu</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="/images/pic10.jpg" alt="" class="editable" href="/boka/" />
                  </span>
                  
                </section>
{% include bokamera.html %}
							<!-- Section Foretag -->
								<section>
									<header class="major">
										<h2>Våra tjänster för företag</h2>
									</header>
									<div class="features">
{% for foretag in site.foretag %}
										<article>
											<span class="icon fa-diamond"></span>
											<div class="content">
												<h3>{{ foretag.menutitle }}</h3>
												<p>{{ foretag.description }}</p>
											</div>
                    </article>
{% endfor %}
									</div>
                </section>
                
                							<!-- Section PRivat -->
								<section>
                    <header class="major">
                      <h2>Våra tjänster för privatpersoner</h2>
                    </header>
                    <div class="features">
{% for privat in site.privat %}
                      <article>
                        <span class="icon fa-diamond"></span>
                        <div class="content">
                          <h3>{{ privat.title }}</h3>
                          <p>{{ privat.description }}</p>
                        </div>
                      </article>
{% endfor %}
                    </div>
                  </section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Vi är En Renare Vardag</h2>
									</header>
									<div class="posts">
{% for post in site.posts %}
										<article>
											<a href="{{ post.url }}" class="image"><img src="{{ post.image }}" alt="" /></a>
											<h3>{{ post.title }}</h3>
											<p>{{ post.description }}</p>
											<ul class="actions">
												<li><a href="{{ post.url }}" class="button">Läs mer</a></li>
											</ul>
										</article>
{% endfor %}
									</div>
								</section>









