---
title: 'Städfirma, Städföretag i Stockholm'
description: >-
  Vi är ett professionellt städföretag som erbjuder ett brett utbud av tjänster
  inom städning och lokalvård till hög kvalitet. Kontakta vår städfirma idag!
image: /images/ervhome-faded.jpg
layout: landing/default
---
<!-- Page Wrapper -->
<div id="page-wrapper">

  {% include /landing/menu.html %}

  <!-- Banner -->
  <section id="banner" style="background: transparent;">
    <div class="inner">
      <div class="logo"><img src="{{ site.baseurl }}/images/landing/Enrenare_vardag_loggosvg.svg" width="100px"
          height="100px" alt="En Renare Vardag i Stockholm AB logo" /></div>
      <h2>{{ page.title }}</h2>
      <p>{{ page.description }}</p>
      {% include /landing/reco.html %}
    </div>
  </section>

  <!-- Wrapper -->
  <section id="wrapper">

    <!-- One -->
    <section id="one" class="wrapper spotlight style1">
      <div class="inner">
        <img class="image editable" alt="Alltid nöjda kunder! Läs våra recensioner på RECO!"
          src="/images/landing/michael-dam-mez3pofgs-k-unsplash.jpg"
          srcset="/images/landing/michael-dam-mez3pofgs-k-unsplash.jpg 276w, /images/landing/michael-dam-mez3pofgs-k-unsplash@2x.jpg 552w"
          title="Alltid nöjda kunder! Läs våra recensioner på RECO!" width="276" />
        <div class="content editable">
          <h2 class="major"><span class="icon fa-smile"></span> N&Ouml;JD-KUND-GARANTI</h2>
          <p>V&aring;r arbetsledare g&ouml;r alltid efterkontroll av st&auml;dningsarbetet vi utf&ouml;rt i Stockholm,
            vi l&auml;mnar 3 dagars garanti och st&auml;ller inga krav p&aring; direkt besiktning.</p>
          <p><a class="special" href="#four">L&auml;s mer</a></p>
        </div>
      </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper alt spotlight style2">
      <div class="inner">
        <img class="image editable" alt="Försäkring som täcker up till 10 miljoner eventuella skada."
          src="/images/landing/ulises-baga-oryoojvpq8e-unsplash.jpg"
          srcset="/images/landing/ulises-baga-oryoojvpq8e-unsplash.jpg 276w, /images/landing/ulises-baga-oryoojvpq8e-unsplash@2x.jpg 552w"
          title="Försäkring som täcker up till 10 miljoner eventuella skada." width="276" />
        <div class="content editable">
          <h2 class="major"><span class="icon fa-thumbs-up"></span> ANSVARF&Ouml;RS&Auml;KRING</h2>
          <p>Vi innehar ansvarsf&ouml;rs&auml;kring genom Vardia upp till 10 miljoner, som t&auml;cker eventuella skada
            som vi skulle orsakat. Alltid det b&auml;sta f&ouml;r v&aring;ra kunder i Stockholm!</p>
          <p><a class="special" href="#four">L&auml;s mer</a></p>
        </div>
      </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper spotlight style3">
      <div class="inner">
        <img class="image editable" alt="Flexibel städbokning"
          src="/images/landing/brannon-naito-ua9xf2hasi4-unsplash.jpg"
          srcset="/images/landing/brannon-naito-ua9xf2hasi4-unsplash.jpg 276w, /images/landing/brannon-naito-ua9xf2hasi4-unsplash@2x.jpg 552w"
          title="Flexibel städbokning" width="276" />
        <div class="content editable">
          <h2 class="major"><span class="icon fa-handshake"></span> FLEXIBILITET</h2>
          <p>Du kan avboka/omboka din flyttst&auml;dning 24 timmar innan den bokade tiden helt kostnadsfritt.</p>
          <p><a class="special" href="#four">L&auml;s mer</a></p>
        </div>
      </div>
    </section>

    <!-- Four -->
    <section id="four" class="wrapper alt style1">
      <div class="inner">
        <div>
          {% include /kalkylator/kalkmain.html %}
        </div>
        <h3>&nbsp;</h3>
        <h2 class="major">Boka idag!</h2>
        <section class="features" style="background: transparent;">
          <article id="boka">
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
            <script>
              hbspt.forms.create({
              portalId: "5554697",
              formId: "2ca4f0f6-9da5-44c1-9a70-26a132e9d6e1"
              });
            </script>
          </article>
  
          <article id="contact">
            <ul class="contact">
              <li class="icon solid fa-home">
                En Renare Vardag I Stockholm AB
                Storgatan 104 B<br />
                171 55 Solna<br />
                Org nr: 556847-2038
              </li>
              <li class="icon solid fa-phone"><a href="tel:+4686605555">08 - 660 55 55</a></li>
              <li class="icon solid fa-envelope"><a href="mailto:{{ site.kundtjanstmail }}">Email</a></li>
              <li class="icon brands fa-facebook-f"><a href="https://www.facebook.com/enrenarevardagAB/">Facebook</a></li>
              <li class="icon brands fa-instagram"><a href="https://www.instagram.com/enrenarevardag/">Instagram</a></li>
              <li class="icon brands fa-linkedin"><a
                  href="https://www.linkedin.com/company/en-renare-vardag-i-stockholm-ab/">Linkedin</a></li>
            </ul>
          </article>
        </section>
        <section>
          <header style="width:100%">
            <br />
            <h2>Städhjälp för företag</h2>
          </header>
        </section>
        <section class="features">

          {% for foretag in site.foretag %}{% if foretag.framsida == true %}
          <article>
            <div class="editable">
              <img alt="Ikon för {{ foretag.menutitle }}" src="{{ foretag.icon_image }}" title="{{ foretag.menutitle }}"
                style="width:50px;height:50px" />
              <h3 class="major">{{ foretag.menutitle }}</h3>
              <p>
                {{ foretag.description }}
              </p>
              <a href="{{ foretag.url }}" class="button" style="margin-bottom:40px;">Läs mer</a>
            </div>
          </article>{% endif %}{% endfor %}
        </section>
        <section>
          <header style="width:100%">
            <h2>Städhjälp för privatpersoner</h2>
          </header>
        </section>
        <section class="features">

          {% for privat in site.privat %}{% if privat.framsida == true %}
          <article>
            <div class="editable">
              <img alt="Ikon för {{ privat.menutitle }}" src="{{ privat.icon_image }}" title="{{ privat.menutitle }}"
                style="width:50px;height:50px" />
              <h3 class="major">{{ privat.menutitle }}</h3>
              <p>
                {{ privat.description }}
              </p>
              <a href="{{ privat.url }}" class="button" style="margin-bottom:40px;">Läs mer</a>
            </div>
          </article>{% endif %}{% endfor %}
        </section>
      </div>
    </section>

  </section>

  <!-- Footer -->
  <section id="footer" style="background: transparent;">
    <div class="inner">
      <div class="editable">
        <h2 class="major">N&ouml;jd-kund GARANTI</h2>
        <!--base32-c9gq6t9k68pp6eb7e4v78ebb6rw70w1pcnh3et9mervkgtb2c8v74xtq61vk2w33dtm36tbm75ppawkpddkq8rhjccw7cdtmf1u72dhhenrkgxvb6dhp8xkh69jk6d34cdvkcdkt6dn3cx37e5n66x3a6tu78dv3chnkatbrdmv6ux32cnjpexhq61t7cchpdtm70tvpd1r6acba6tr66xhkcnw74dtgcgtpmrttdtr3cxk2dnj66x9jent6pcb5chn6pdk3cwpp4rbkcmtk4-base32-->
        <section><iframe src="https://widget.reco.se/v2/widget/3673336?mode=HORIZONTAL_QUOTE" title="Reco Betyg"
            scrolling="no" style="border:0;display:block;margin-top:20px;" data-reactroot="" width="100%"
            height="225"></iframe></section>
        <!--base32-c9gq6t9k68pp6eb7e4v78ebb6rw70w1pcnh3et9mervkgtb2c8v74xtq61vk2w33dtm36tbm75ppawkpddkq8rhjccw7cdtmf1u72dhhenrkgxvb6dhp8xkh69jk6d34cdvkcdkt6dn3cx37e5n66x3a6tu78dv3chnkatbrdmv6ux32cnjpexhq61t7cchpdtm70tvpd1r6acba6tr66xhkcnw74dtgcgtpmrttdtr3cxk2dnj66x9jent6pcb5chn6pdk3cwpp4rbkcmtk4-base32-->

      </div>

      {% include /landing/footer.html %}
    </div>
  </section>

</div>
<style>
  body {
    background-image: url({{ page.image }});
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>