---
title: Städfirma i Stockholm
description: The latest app to help you find new friends with common interests.
image: /images/bromma-flyttstadning.jpg
bottom_image: /images/karta.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">
				Dags f&ouml;r<br />
				En Renare Vardag
			</h1>
			<p class="subtext editable">Frisco helps you find new friends with common interests. Search for a new Tennis partner, find a baking side-kick or befriend a new drinking buddy.</p>
			<div class="cta button alt editable"><a href="#">Boka Nu!</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more" class="editable">L&auml;s mer <span class="arrow">&#x25BC;</span></a></div>
</section>


<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable" href="#learn-more">Introduce yourself</h2>
				<p class="editable" href="#learn-more">Making news friends in the adult world is hard. Frisco is the perfect filter matching you the most interesting people in your area.</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" href="#learn-more" src="http://placehold.it/650x1300" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable" href="#learn-more">Pick your interests</h2>
				<p class="editable" href="#learn-more">The more you tell Frisco the better it gets to know you. Frisco matches you with people who share similar interests with you.</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" href="#learn-more" src="http://placehold.it/650x1300" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable" href="#learn-more">Swipe and go</h2>
				<p class="editable" href="#learn-more">Frisco shows you cards with people who might be a good match for friendship. Swipe left to move to the next card or right to start talking.</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" href="#learn-more" src="http://placehold.it/650x1300" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable" href="#learn-more">
					Boka st&auml;dhj&auml;lp idag!
				</h2>
				<p class="subtext editable" href="#learn-more">
					Bli en av dom tusentals f&ouml;retag och privatpersoner i Stockholm som litar p&aring; oss.
				</p>
				<div class="cta button alt"><a href="/boka/#name" class="editable">Boka Nu</a></div>
			</div>
		</div>
	</section>
</div>
