---
title: 'Städfirma, Städföretag i Stockholm'
description: >-
  Vi är ett professionellt städföretag som erbjuder ett brett utbud av tjänster
  inom städning och lokalvård till hög kvalitet. Kontakta vår städfirma idag!
image: /images/ervhome.jpg
---

{% include /main/banner_booking.html %}
<!-- BEGIN bokamera.html -->

<!-- Banner -->
<section style="padding:0">
  <div style="border-radius:3px;" class="flex">
    <div class="item">
      <div class="item-staticchild">
        <div style="background-color: #fdd0ff; padding:10px;margin-bottom:10px;border-radius:3px;">
          {{ site.data.viktigt_medelande.meddelande_html }}
        </div>

        <a href="https://www.reco.se/en-renare-vardag" target="_blank" rel="noopener" style="border:none;"><img src="/images/ikon/five-star.png" alt="Reco Recomenderar En Renare Vardag sen 2014" /></a>
        <a href="https://www.bisnode.se/om-bisnode/vad-vi-gor/vart-satt-att-se-pa-risk-och-kredit/kreditvarderingsmodell-foretag/" target="_blank" rel="noopener" style="text-decoration: none;border:none;">
          <img style="border:0px;max-width:100%;" oncontextmenu="return false" title="Vi &auml;r ett kreditv&auml;rdigt f&ouml;retag enligt Bisnodes v&auml;rderingssystem som baserar sig p&aring; en m&auml;ngd olika beslutsregler. Denna uppgift &auml;r alltid aktuell&#44; informationen uppdateras dagligen via Bisnodes databas." alt="Vi &auml;r ett kreditv&auml;rdigt f&ouml;retag enligt Bisnodes v&auml;rderingssystem som baserar sig p&aring; en m&auml;ngd olika beslutsregler. Denna uppgift &auml;r alltid aktuell&#44; informationen uppdateras dagligen via Bisnodes databas." id="img_273_87_px" src="https://merit.soliditet.se/merit/imageGenerator/display?lang=SE&country=SE&cId=OdUXnmmcLIXJzRB0kTxKKg%3D%3D&cUid=7hJYcGGsT5M%3D&imgType=img_273_87_px" />
        </a>
        <a href="" target="_blank" rel="noopener" style="border:none;">
          <img src="/images/Vardecertifikat_liggande_sv.svg" alt="Digitalt Värdecertifikat från Valuation Företagsvärderingar i Sverige AB" />
        </a>
      </div>
    </div>
  </div>
</section>
<!-- END bokamera.html -->


<section>
  <div class="posts-set">
    <article style="background-color: #fff;border-radius: 3px; padding: 15px;">
     <a class="image"><img src="/images/kvalitetsgaranti.jpg" alt="KVALITETSGARANTI" /></a>Kvalitetsgaranti</h3>
      <p>Vi lämnar alltid kvalitetsgaranti på utfört arbete. Det gäller alla våra tjänster och innebär att om du inte blir nöjd åtgärdar vi problemet på en gång.</p>

    </article>

    <article style="background-color: #fff;border-radius: 3px; padding: 15px;">
      <a class="image"><img src="/images/karsten-wurth-0w-uTa0Xz7w-unsplash.jpg" alt="Miljövänlig" /></a>
      <h3>Miljövänligt</h3>
      <p>Vi strävar efter att vara miljövänliga genom att använda miljövänliga/miljömärkta städprodukter och minimera förbrukningen av kemikalier. Detta gäller för företagskunder.</p>
 
    </article>

    <article style="background-color: #fff;border-radius: 3px; padding: 15px;">
    <a class="image"><img src="/images/brannon-naito-ua9xf2hasi4-unsplash.jpg" alt="Flexibilitet" /></a>
      <h3>Flexibilitet</h3>
      <p>Du kan avboka/omboka din städning i Södermalm 24 timmar innan den bokade tiden helt kostnadsfritt.</p>

    </article>

    <article style="background-color: #fff;border-radius: 3px; padding: 15px;">
      <a class="image"><img src="/images/ulises-baga-oryoojvpq8e-unsplash.jpg" alt="Ansvarsförsäkring" /></a>
        <h3>Ansvarsförsäkring</h3>
        <p>Vi innehar ansvarsförsäkring genom Vardia upp till 10 miljoner som täcker eventuella skada som vi skulle ha orsakat. Alltid det bästa för Stockholm Stadsbor</p>
  
    </article>


    <article style="background-color: #fff;border-radius: 3px; padding: 15px;">
      <a class="image"><img src="/images/ulises-baga-oryoojvpq8e-unsplash.jpg" alt="Ansvarsförsäkring" /></a>
        <h3>Nöjd kund garanti</h3>
        <p>Vår arbetsledare gör alltid efterkontroll av storstädningsarbetet vi utför, vi lämnar 3 dagars garanti och ställer inga krav på direkt besiktning.</p>
  
    </article>
     
    <article style="background-color: #fff;border-radius: 3px; padding: 15px;">
      <a class="image"><img src="/images/ulises-baga-oryoojvpq8e-unsplash.jpg" alt="Ansvarsförsäkring" /></a>
        <h3>Nöjd kund garanti</h3>
        <p>Vår arbetsledare gör alltid efterkontroll av storstädningsarbetet vi utför, vi lämnar 3 dagars garanti och ställer inga krav på direkt besiktning.</p>
  
    </article>
     
    
  </div>
</section>
{% include /main/reco.html %}


<!-- Section Foretag -->
<section style="padding: 10px;margin-top:20px;">
  <header class="major">
    <h2>Städhjälp för företag</h2>
    <p>Företagens självklara val för städhjälp i Stockholm</p>
  </header>
  <div class="features">
    {% for foretag in site.foretag %}{% if foretag.framsida == true %}
    <article>
      <span class="icon"><img src="{{ foretag.icon_image }}" width="50px" alt="icon för {{ foretag.menutitle }}"  /></span>
      <div class="content">
        <h3><a href="{{ foretag.url }}">{{ foretag.menutitle }}</a></h3>
        <p>{{ foretag.description }}</p>
        <a href="{{ foretag.url }}" class="button">Boka kostnadsfritt möte</a>
      </div>
    </article>
    {% endif %}{% endfor %}
  </div>
</section>

<!-- Section Privat -->
<section style="padding: 10px;margin-top:20px;">
  <header class="major">
    <h2>Städhjälp för privatpersoner</h2>
    <p>Det självklara valet för städhjälp i Stockholm</p>
  </header>
  <div class="features">
    {% for privat in site.privat %}{% if privat.framsida == true %}
    <article>
      <span class="icon"><img src="{{ privat.icon_image }}" width="50px" alt="icon för {{ privat.menutitle }}" /></span>
      <div class="content">
        <h3><a href="{{ privat.url }}">{{ privat.menutitle }}</a></h3>
        <p>{{ privat.description }}</p>
        <a href="{{ privat.url }}" class="button">Läs mer & Räkna pris</a>
      </div>
    </article>
    {% endif %}{% endfor %}
  </div>
</section>

<!-- Nyheter Section -->
<section>
  <header class="major">
    <h2>Nyheter & erbjudanden från En Renare Vardag</h2>
  </header>
  <div class="posts-set">
    {% for post in site.posts limit: 2 %} 
    <article style="background-color: #fff;border-radius: 3px; padding: 15px;">
      <a href="{{ post.url }}" class="image"><img src="{{ post.image }}" alt="{{ post.title }}" /></a>
      <h3>{{ post.title }}</h3>
      <p>{{ post.description }}</p>
      <ul class="actions">
        <li><a href="{{ post.url }}" class="button">Läs mer</a></li>
      </ul>
    </article>
    {% endfor %}
    <article style="background-color: #fff;border-radius: 3px; padding: 15px;">
      <!-- <a href="/arkiv/" class="image"><img src="/images/max-langelott-wWQ760meyWI-unsplash.jpg" alt="Arkiv" /></a> -->
      <h3>Arkiv</h3>
      <p>Här hittar du alla artiklar, tips och erbjudanden som vi publicerat på våran webbplats</p>
      <ul class="actions">
        <li><a href="/arkiv/" class="button">Gå till Arkiv</a></li>
      </ul>
    </article>
  </div>
</section>

{% include /main/instafeed.html %}
{% include /main/reco.html %}