---
title: Jobba hos oss
description: >-
  Jobba med oss på Stockholms bästa Städföretag. Ansök via vårt webbformulär
  idag!
image: /images/jobb-1.jpg
---
{% include /main/banner_booking.html %}
<!-- Banner -->
<section style="padding:0">
  <div style="border-radius:3px;" class="flex">
    <div class="item editable" style="padding:10px;">
      <h2>Vad trevligt att du söker jobb hos oss!</h2>
      <p>När det kommer till städhjälp så är En Renare Vardag AB Stockholmarnas favorit. Vi har haft utomordentligt
        <a href="https://www.reco.se/en-renare-vardag" rel="noopener noreferrer" target="_blank">omdömme hos reco 4 år i
          rad!</a> Vi erbjuder även 100% nöjd kund garanti. </p>
      <p>Du som söker jobb hos En renare vardag ska vara minst 18 år och kunna behärska svenska språket både i tal och
        skrift. Du behöver inte nödvändigtvis ha lång erfarenhet av att städa professionelt men det är så klart ett
        plus. Du ska ha känsla för service och vara omtänksam. En Renare Vardag AB är som en stor familj och vi tar hand
        om varandra på bästa möjliga sätt, så vi
        behöver vi kunna lita på varandra. Vi vill därför att du begär ett utdrag ur belastningsregistret från Polisen
        som du sedan lämnar till oss. Det tar ca
        1-3 veckor att få utdraget från Polisen. <strong>Ett tips är att redan nu beställer ett utdrag som du sedan kan
          ha med dig på intervjun.</strong></p>
      <p>Vi ser framemot att träffa dig och göra våra kunder nöjda och ge Stockholm lite renare kontor och hem tillsamans!</p>

    </div>
    <div class="item" style="padding:10px;">
      <div class="item-child">
        <h3>Fyll i blanketten</h3>
        {% include /main/jobbsok.html %}
      </div>
      <div class="item-staticchild">
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
</section>
