---
title: Jobba hos oss
description: Jobba med oss på Stockholms bästa Städföretag. Ansök via vår webbformulär idag!
image: /images/jobb-1.jpg
bokning: false
---
{% include banner.html %}
<!-- Banner -->
<section style="padding:0">
  <div style="border-radius:3px;" class="flex">
    <div class="item" style="background-color: rgba(224, 255, 240 , 0.85);padding:10px;">
        
        <div class="item-child">
          <h3>Fyll i blanketten</h3>
  {% include jobbsok.html %}
        </div>
        <div class="item-staticchild">
            
            <h2><a href="tel:+4686605555">08 - 660 55 55</a>
              <br /><a href="mailto:kundtjanst@enrenarevardag.se">E-Post</a>
            </h2>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            
        </div>
      </div>

    <div class="item editable" style="padding:10px;">

      <h3>Vad trevligt att du söker jobb hos oss!</h3>
      <p>Du som söker jobb hos En renare vardag ska vara minst 18 år och kunna behärska svenska språket både i tal och skrift.  
      Vi vill att du begär ett utdrag ur belastningsregistret från Polisen som du sedan lämnar till oss. Det tar ca 1-3 veckor att få utdraget från Polisen.  
      Ett tips är att redan nu beställa ett utdrag som du sedan kan ha med dig på intervjun.</p>
      
     
    </div>

  </div>
</section>