---
title: Jobba hos oss
description: >-
  Jobba med oss på Stockholms bästa Städföretag. Ansök via vårt webbformulär
  idag!
image: /images/woman-in-blue-suit-jacket-2422293.jpg
---

{% include /main/banner_booking.html %}
<!-- Banner -->
<section style="padding:0">
  <div style="border-radius:3px;" class="flex">
    <div class="item editable" style="padding:10px;">
    	<h2>Vad trevligt att du s&ouml;ker jobb hos oss!</h2>
    	<p><strong>Vi s&ouml;ker just nu tv&aring; s&auml;ljare med god data- och telefonvana. Ni ska naturligtvis prata flytande svenska och g&auml;rna engelska. Erfarenhet inom telefonf&ouml;rs&auml;ljning &auml;r ett stort plus!</strong></p>
    	<p>N&auml;r det kommer till st&auml;dhj&auml;lp s&aring; &auml;r En Renare Vardag AB Stockholmarnas favorit. Vi har haft utomordentligt <a rel="noopener noreferrer" target="_blank" href="https://www.reco.se/en-renare-vardag">omd&ouml;mme hos reco 4 &aring;r i rad!</a> Vi erbjuder &auml;ven 100% n&ouml;jd kund garanti.</p>
    	<p>Du som s&ouml;ker jobb hos En renare vardag ska vara minst 18 &aring;r och kunna beh&auml;rska svenska spr&aring;ket b&aring;de i tal och skrift. Du beh&ouml;ver inte n&ouml;dv&auml;ndigtvis ha l&aring;ng erfarenhet av att st&auml;da professionelt men det &auml;r s&aring; klart ett plus. Du ska ha k&auml;nsla f&ouml;r service och vara omt&auml;nksam. En Renare Vardag AB &auml;r som en stor familj och vi tar hand om varandra p&aring; b&auml;sta m&ouml;jliga s&auml;tt, s&aring; vi beh&ouml;ver vi kunna lita p&aring; varandra. Vi vill d&auml;rf&ouml;r att du beg&auml;r ett utdrag ur belastningsregistret fr&aring;n Polisen som du sedan l&auml;mnar till oss. Det tar ca 1-3 veckor att f&aring; utdraget fr&aring;n Polisen. <strong>Ett tips &auml;r att redan nu best&auml;ller ett utdrag som du sedan kan ha med dig p&aring; intervjun.</strong></p>
    	<p>Vi ser framemot att tr&auml;ffa dig och g&ouml;ra v&aring;ra kunder n&ouml;jda och ge Stockholm lite renare kontor och hem tillsamans!</p>
    </div>
    <div class="item" style="padding:10px;">
      <div class="item-child">
        <h3>Fyll i blanketten</h3>
        {% include /main/jobbsok.html %}
      </div>
      <div class="item-staticchild">
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
</section>
