---
title: 'Aktuella Erbjudanden'
description: 'Nyheter, aktuella erbjudanden och tips om städning på En Renare Vardag AB'
image: '/images/bon-cadeau-noeud-rouge.jpg'
layout: default
---          
{% include banner_booking.html %}
<!-- Section -->
<section>
  <header class="major">
    <h2>Vi är En Renare Vardag</h2>
  </header>
  <div class="posts-set">
    {% for post in site.posts limit: 6 %}
    <article style="background-color: #fff;border-radius: 3px; padding: 15px;">
      <a href="{{ post.url }}" class="image"><img src="{{ post.image }}" alt="{{ post.title }}" /></a>
      <h3>{{ post.title }}</h3>
      <p>{{ post.description }}</p>
      <ul class="actions">
        <li><a href="{{ post.url }}" class="button">Läs mer</a></li>
      </ul>
    </article>
    {% endfor %}
  </div>

</section>

<!-- Section Foretag -->
<section style="padding: 10px;margin-top:20px;">
  <header class="major">
    <h2>Våra tjänster för företag</h2>
  </header>
  <div class="features">
    {% for foretag in site.foretag %}{% if foretag.framsida == true %}
    <article>
      <span class="icon"><img src="{{ foretag.icon_image }}" width="50px" /></span>
      <div class="content">
        <h3><a href="{{ foretag.url }}">{{ foretag.menutitle }}</a></h3>
        <p>{{ foretag.description }}</p>
        <a href="{{ foretag.url }}" class="button">Boka kostnadsfritt möte</a>
      </div>
    </article>
    {% endif %}{% endfor %}
  </div>
</section>

<!-- Section Privat -->
<section style="padding: 10px;margin-top:20px;">
  <header class="major">
    <h2>Våra tjänster för privatpersoner</h2>
  </header>
  <div class="features">
    {% for privat in site.privat %}{% if privat.framsida == true %}
    <article>
      <span class="icon"><img src="{{ privat.icon_image }}" width="50px" /></span>
      <div class="content">
        <h3><a href="{{ privat.url }}">{{ privat.menutitle }}</a></h3>
        <p>{{ privat.description }}</p>
        <a href="{{ privat.url }}" class="button">Läs mer & Räkna pris</a>
      </div>
    </article>
    {% endif %}{% endfor %}
  </div>

</section>
{% include reco.html %}
{% include instafeed.html %}








