---
title: 'Nyheter & Aktuella Erbjudanden'
description: 'Nyheter, aktuella erbjudanden och tips om städning på En Renare Vardag AB'
image: '/images/bon-cadeau-noeud-rouge.jpg'
layout: main/default
---          
{% include /main/banner_booking.html %}
<!-- Banner -->
<section style="padding:0">
    <div style="border-radius:3px;" class="flex">
      <div class="item" style="padding:10px;">
        <div class="item-child editable">
          
          <p>Vi tror att dela med oss av våra erfarenheter om städhjälp för företag och privatpersoner kan göra Stockholm lite bättre och lite renare. Därför skriver vi regelbundet tips och nyheter om vad som händer i städbranchen för alla att ta del av. På denna sida hittar du dom 6 senaste artiklarna samt en länk till vårat <a href="/arkiv/">arkiv,</a> i fall du skulle sakna något fint eller intressant vi skrivit för länge sedan.</p>

          <br />

        </div>
        <div class="item-staticchild">
        </div>
      </div>
      <div class="item" style="padding:10px;">

        <p style="height:100px;">&nbsp;</p>
      </div>
    </div>
  </section>
  

<!-- Section -->
<section>
  <header class="major">
    <h2>Vi är En Renare Vardag</h2>

  </header>
  <div class="posts-set">
    {% for post in site.posts limit: 6 %}
    <article style="background-color: #fff;border-radius: 3px; padding: 15px;">
      <a href="{{ post.url }}" class="image"><img src="{{ post.image }}" alt="{{ post.title }}" /></a>
      <h3>{{ post.title }}</h3>
      <p>{{ post.description }}</p>
      <ul class="actions">
        <li><a href="{{ post.url }}" class="button">Läs mer</a></li>
      </ul>
    </article>
    {% endfor %}
    <article style="background-color: #fff;border-radius: 3px; padding: 15px;">
        <!-- <a href="/arkiv/" class="image"><img src="/images/max-langelott-wWQ760meyWI-unsplash.jpg" alt="Arkiv" /></a> -->
        <h3>Arkiv</h3>
        <p>Här hittar du alla artiklar, tips och erbjudanden som vi publicerat på våran webbplats</p>
        <ul class="actions">
          <li><a href="/arkiv/" class="button">Gå till Arkiv</a></li>
        </ul>
      </article>
  </div>

</section>

<!-- Section Foretag -->
<section style="padding: 10px;margin-top:20px;">
  <header class="major">
    <h2>Våra tjänster för företag</h2>
  </header>
  <div class="features">
    {% for foretag in site.foretag %}{% if foretag.framsida == true %}
    <article>
      <span class="icon"><img src="{{ foretag.icon_image }}" width="50px" /></span>
      <div class="content">
        <h3><a href="{{ foretag.url }}">{{ foretag.menutitle }}</a></h3>
        <p>{{ foretag.description }}</p>
        <a href="{{ foretag.url }}" class="button">Boka kostnadsfritt möte</a>
      </div>
    </article>
    {% endif %}{% endfor %}
  </div>
</section>

<!-- Section Privat -->
<section style="padding: 10px;margin-top:20px;">
  <header class="major">
    <h2>Våra tjänster för privatpersoner</h2>
  </header>
  <div class="features">
    {% for privat in site.privat %}{% if privat.framsida == true %}
    <article>
      <span class="icon"><img src="{{ privat.icon_image }}" width="50px" /></span>
      <div class="content">
        <h3><a href="{{ privat.url }}">{{ privat.menutitle }}</a></h3>
        <p>{{ privat.description }}</p>
        <a href="{{ privat.url }}" class="button">Läs mer & Räkna pris</a>
      </div>
    </article>
    {% endif %}{% endfor %}
  </div>

</section>
{% include /main/reco.html %}
{% include /main/instafeed.html %}








