---
title: 'Städhjälp för Privatpersoner i Stockholm'
description: 'Städhjälp och lokalvård för privatpersoner i Stockholm med fokus på kvalitet och trygghet.'
image: '/images/intro-privat.jpg'
layout: infosidor
---

<div class="row">
    <!-- Break -->
    <div class="col-4 col-12-medium editable">
    	<h3>V&aring;rat Garanti</h3>
    	<p><span class="image left"><img alt="Nöjd Kund Graanti" src="/images/ikon/nojdkund.png" /></span>Igenom att l&aring;ta oss sk&ouml;ta st&auml;dningen, garanterar vi att du f&aring; mer tid &ouml;ver till din vardag som du kan g&ouml;ra n&aring;t annat med ist&auml;llet. D&auml;rf&ouml;r ska du inte tveka att kontakta oss n&auml;r du beh&ouml;ver st&auml;dhj&auml;lp i Stockholm och Stockholms region. Vi tar oss an alla typer av st&auml;duppdrag, och g&ouml;r det med noggrannhet &amp; gl&auml;dje. Vi vet vad som kr&auml;vs f&ouml;r att huset, l&auml;genheten eller kontoret ska bli skinande rent och att du som kund ska bli n&ouml;jd.</p>
    </div>
    <div class="col-4 col-12-medium editable">
    	<h3>St&auml;dfirma En renare Vardag AB</h3>
    	<p>Genom att anlita oss f&aring;r du alltid en st&auml;dning med h&ouml;gkvalitet och ett trevligt bem&ouml;tande. St&auml;dning &auml;r v&aring;r gl&auml;dje och passion som vi g&auml;rna vill dela med er. Se sj&auml;lv vad v&aring;ra kunder s&auml;ger i v&aring;rat omd&ouml;me p&aring; <a target="_blank" href="https://www.reco.se/en-renare-vardag">Reco</a></p>
    	<h3>&nbsp;</h3>
    </div>
    <div class="col-4 col-12-medium editable">
    	<h3>V&aring;rt l&ouml;fte:</h3>
    	<ul>
    		<li>H&ouml;g kvalitet till rimligt pris</li>
    		<li>Alltid samma st&auml;derska</li>
    		<li>St&auml;dning med h&ouml;gsta kvalit&eacute; till rimlig pris</li>
    		<li>20% rabatt p&aring; f&ouml;nsterputsning &auml;n s&aring; l&auml;nge som du &auml;r kund hos oss</li>
    		<li>Vi innehar F-skattsedel och ansvarsf&ouml;rs&auml;kring</li>
    	</ul>
    	<p><img src="/images/ikon/trustFiveYears-150.png" /></p>
    </div>
  </div>

<!-- Section Privat -->
								<section>
                    <header class="major">
                      <h2>Våra tjänster för privatpersoner</h2>
                    </header>
                    <div class="features">
{% for privat in site.privat %}{% if privat.framsida == true %}
                      <article>
                        <span class="icon"><img src="{{ privat.icon_image }}" width="50px" /></span>
                        <div class="content">
                          <h3><a href="{{ privat.url }}{{ privat.hubspot }}">{{ privat.menutitle }}</a></h3>
                          <p>{{ privat.description }}</p>
                          <a href="{{ privat.url }}{{ privat.hubspot }}" class="button">Läs mer & Räkna pris</a>
                        </div>
                      </article>
{% endif %}{% endfor %}
                    </div>
                  
                  </section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Vi är En Renare Vardag</h2>
									</header>
									<div class="posts">
{% for post in site.posts %}
										<article>
											<a href="{{ post.url }}" class="image"><img src="{{ post.image }}" alt="" /></a>
											<h3>{{ post.title }}</h3>
											<p>{{ post.description }}</p>
											<ul class="actions">
												<li><a href="{{ post.url }}" class="button">Läs mer</a></li>
											</ul>
										</article>
{% endfor %}
                  </div>
                  
								</section>









