---
title: 'Städhjälp för Privatpersoner i Stockholm'
description: 'Städhjälp och lokalvård för privatpersoner i Stockholm med fokus på kvalitet och trygghet.'
image: '/images/intro-privat.jpg'
layout: infosidor
---



<div class="row">
    <!-- Break -->
    <div class="col-4 col-12-medium editable">
      <h3>Städfirma En renare Vardag AB</h3>
      <p>Genom att anlita oss får du alltid en städning med högkvalitet och ett trevligt bemötande.
          Städning är vår glädje och passion som vi gärna vill dela med er.</p>
    </div>
    <div class="col-4 col-12-medium editable">
      <h3>Vårat Garanti</h3>
      <p><span class="image left"><img src="/images/ikon/nojdkund.png" alt="Nöjd Kund Graanti" /></span>Vi garanterar att du få mer tid över till din vardag som du kan göra nåt annat istället. Därför ska du inte tveka att kontakta oss när du behöver städhjälp i Stockholm. Vi tar oss an alla typer av städuppdrag, och gör det med noggrannhet & glädje. Vi vet vad som krävs för att huset, lägenheten eller kontoret ska bli skinande rent och att du som kund ska bli nöjd.</p>
    </div>
    <div class="col-4 col-12-medium editable">
      <h3>Vårt löfte:</h3>
      <ul>
        <li>Hög kvalitet till rimligt pris</li>
            <li>Alltid samma städerska</li>
            <li>Städning med högsta kvalité till rimlig pris</li>
            <li>20% rabatt på fönsterputsning än så länge som du är kund hos oss</li>
            <li>Vi innehar F-skattsedel och ansvarsförsäkring</li>
      </ul>
    </div>
  </div>

<!-- Section Privat -->
								<section>
                    <header class="major">
                      <h2>Våra tjänster för privatpersoner</h2>
                    </header>
                    <div class="features">
{% for privat in site.privat %}{% if privat.framsida == true %}
                      <article>
                        <span class="icon"><img src="{{ privat.icon_image }}" width="50px" /></span>
                        <div class="content">
                          <h3><a href="{{ privat.url }}{{ privat.hubspot }}">{{ privat.menutitle }}</a></h3>
                          <p>{{ privat.description }}</p>
                          <a href="{{ privat.url }}{{ privat.hubspot }}" class="button">Läs mer & Räkna pris</a>
                        </div>
                      </article>
{% endif %}{% endfor %}
                    </div>
                  
                  </section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Vi är En Renare Vardag</h2>
									</header>
									<div class="posts">
{% for post in site.posts %}
										<article>
											<a href="{{ post.url }}" class="image"><img src="{{ post.image }}" alt="" /></a>
											<h3>{{ post.title }}</h3>
											<p>{{ post.description }}</p>
											<ul class="actions">
												<li><a href="{{ post.url }}" class="button">Läs mer</a></li>
											</ul>
										</article>
{% endfor %}
                  </div>
                  
								</section>









