<!-- BEGIN bokamera.html -->

<!-- Banner -->
<section style="padding:0">
  <div style="border-radius:3px;" class="flex">
    <div class="item">
      <div class="item-staticchild">

        {% if page.url == '/privat/fonsterputs/' %}
        {% include /kalkylator/fonsterputs.html %} <br />
        {% elsif page.url == '/privat/flyttstadning/' or  page.url == '/privat/flyttstadning/solna/' %}
        {% include /kalkylator/flyttstedning.html %} <br />
        {% elsif page.url == '/privat/hemstadning/' %}
        {% include /kalkylator/stedningvecka.html %} <br />
        {% elsif page.url == '/privat/storstadning/'' %}
        {% include /kalkylator/storstedning.html %} <br />
        {% elsif page.url == '/' or page.url == '/pris/' %}
        {% include /kalkylator/kalkmain.html %} <br />
        {% else %}
        <h2>Kontakta oss!</h2>
        <p>Använd Boka knappen för att begära offert</p>
        {% endif %}

        <a href="https://www.reco.se/en-renare-vardag" target="_blank" rel="noopener noreferrer"
          style="border:none;"><img src="/images/ikon/five-star.png"
            alt="Reco Recomenderar En Renare Vardag sen 2014" /></a>
        {% if page.url != '/boka/' %}
        <br /><br />
        <ul class="actions" style="margin-bottom: 0;">
          <li>
            <a href="/boka/{{ page.hubspot }}"{% if page.collection == 'foretag' or page.collection == 'privat' %} rel="nofollow"{% endif %} id="button" class="button primary large knap">Boka Nu</a>
          </li>
        </ul>
        {% endif %}

      </div>

    </div>
    {% if page.url == '/' %}
    <div class="item">

      <!-- Section -->
      <section>

        <h2>Erbjudanden</h2>

        <div>
          {% for post in site.categories.Erbjudande limit: 1%}
          <article>
            <a href="{{ post.url }}" class="image"><img class="nyheter" src="/images/erbjudande.jpg"
                alt="{{ post.title }}" /></a>
            <h3 class="nyheter">{{ post.title }}</h3>
            <p class="nyheter">{{ post.description }}</p>
            <ul class="actions">
              <li><a href="{{ post.url }}">Läs mer</a></li>
            </ul>
          </article>
       
          {% endfor %}
        </div>

      </section>
    </div>
    {% endif %}
    {% if page.url != '/' %}
    <div class="item" style="padding:10px;">

      <div class="item-staticchild">
<!-- Flyttstädning -->
        {% if page.url == '/privat/flyttstadning/' %}
        <h2>Välj din ort enligt nedan.</h2>
        <p>
          {% for city in site.landing %}
          {% if city.type == 'flyttstadning' %}
          <a href="{{ city.url }}" alt="Länk till bokningssida för städhjälp i {{ city.city }}" class="button">{{ city.city }}</a> 
          {% endif %}
        {% endfor %}
        </p>
        {% endif %}

<!-- Storstädning -->
        {% if page.url == '/privat/storstadning/' %}
        <h2>Välj din ort enligt nedan.</h2>
        <p>
        {% for city in site.landing | where_exp: "item", "item.type == 'storstadning'" %}
        {% if city.type == 'storstadning' %}
        <a href="{{ city.url }}" alt="Länk till bokningssida för städhjälp i {{ city.city }}" class="button">{{ city.city }}</a> 
        {% endif %}
        {% endfor %}
        </p>
        {% endif %}
<!-- Hemstädning -->
        
        <h2 class="editable">Läs mer om våra tjänster</h2>
        <p class="editable">Vi har ett brett urval av tjänster för företag och privatpersoner</p>
      </div>
      <div class="item-child">
        <h3 style="text-decoration:underline #94ce3c solid"><a href="/foretag/">För företag</a></h3>
        {% for foretag in site.foretag %} {% if foretag.framsida == true %}
        <div class="col-4 col-12-small" style="margin-bottom:10px;">
          <h4><a href="{{ foretag.url }}">{{ foretag.menutitle }}</a> <i class="fa fa-arrow-right"
              style="color:#94ce3c;"></i></h4>
        </div>
        {% endif %}{% endfor %}
      </div>
      <div class="item-child">
        <h3 style="text-decoration:underline #94ce3c solid"><a href="/privat/">För privatpersoner</a></h3>
        {% for privat in site.privat %}{% if privat.framsida == true %}
        <div class="col-4 col-12-small" style="margin-bottom:10px;">
          <h4><a href="{{ privat.url }}">{{ privat.menutitle }}</a> <i class="fa fa-arrow-right"
              style="color:#94ce3c;"></i></h4>
        </div>
        {% endif %}{% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</section>
<!-- END bokamera.html -->