<script src="/assets/js/kalk_window.js"></script>

<div id="my_price_form">
  <div class="find-price">
    <div class="my-price-pre-text">
      <h2>Räkna ut priset för fönsterputsning i Stockholm här.</h2>
      <p>Ange antal rum exkl. kök och hur stor bostaden är i kvm.</p>
    </div>
    <div>
      <div class="rokw">
        <label for="rokw" style="display: none;">Antal rum</label>
        <input type="text" id="rok" name="rok" placeholder="Antal rum" value=""><br />
      </div>
      <div class="kvm">
        <select id="kvm" class="js-example-basic-single">
          <option value="" disabled="" selected="" hidden="">Antal Sidor</option>
          <option value="2">2</option>
          <option value="4">4</option>
          <option value="6">6</option>
          <option value="8">Mer än 6</option>
        </select><br />

      </div>
      <div class="wcheck">
        <select id="wcheck" class="js-example-basic-single">
          <option value="" disabled="" selected="" hidden="">Inglasad Balkong</option>
          <option value="0">Nej</option>
          <option value="1">Ja</option>
        </select><br />
      </div>
      <input type="submit" id="calculate_price" class="btn btn-primary" value="SE DITT PRIS">
    </div>
  </div>
</div>
<div id="show_price" style="display: none;">
  <div id="close" onclick="jQuery('#show_price').hide();">stäng x</div>

  <table class="paket-wrapper">
    <tbody>


      <tr>
        <!-- <td class="raknareIkon hidden-xs"><img src="/images/ikon/kalkyator/4.png" alt=""></td> -->
        <td class="raknareTitel">
          <h5>Fönsterputsning<span class="asterisk">**</span></h5>
        </td>
        <td><span id="fonsterputs" data-number="5" class="price"></span> kr</td>
        <td class="raknareLasmer hidden-xs"><a href="#lasmer" class="las-mer">Läs mer</a></td>

        <td><a class="intresse-btn-small hidden-xs knap" href="#" onclick="toggle_visibility('overlaybooking');" data-toggle="modal" data-target="#offert-modal"
            rel="noopener noreferrer">Boka</a></td>
      </tr>

      <tr>
        <td colspan="4" class="disclaimer">
          * Vid beställning av stora objekt, vänligen ring <a href="tel:+4686605555">08-660 55 55</a> eller maila oss för offert. .<br>
        </td>
      </tr>

    </tbody>
  </table>


</div>