<!-- BEGIN kalkmain.html -->
<script src="/assets/main/js/kalk.js"></script>

<div id="my_price_form">
  <div class="find-price">
    <div class="my-price-pre-text">
      <div style="background-color: #fdd0ff; padding:10px;margin-bottom:10px;border-radius:3px;">
      {{ site.data.viktigt_medelande.meddelande_html }}
      </div>

      <h2>Vi erbjuder kompletta st&auml;dningstj&auml;nster i Stockholm med allt vad det inneb&auml;r.</h2>
      <p>Alla vill komma hem till ren och fr&auml;sch bostad. St&auml;dning kr&auml;ver noggrannhet och kan
        vara ett redigt projekt n&auml;r det ska f&aring; plats i kalendern bland jobb, familj och hobby.
        Vardagen &auml;r redan stressig som den &auml;r, &auml;gna dig &aring;t att planera det trevliga i
        ditt liv, s&aring; tar vi hand om st&auml;dningen &aring;t dig! V&aring;ra utbildade medarbetare
        anv&auml;nder sig utav moderna metoder och milj&ouml;v&auml;nliga medel f&ouml;r att uppn&aring; det
        b&auml;sta resultatet som ingen kan klaga p&aring;.</p>
      <h2>R&auml;kna ut priset f&ouml;r st&auml;dning h&auml;r.</h2>
      <p>Ange antal rum exkl. k&ouml;k och hur stor bostaden &auml;r i kvm.</p>
    </div>
    <div>

      <div class="rok">
        <label for="rok" style="display: none;">Antal rum</label>
        <input type="text" id="rok" name="rok" placeholder="Antal rum" value="">
      </div>
      <div class="kvm">
        <label for="kvm" style="display: none;">Antal kvm</label><br />
        <input type="text" id="kvm" name="kvm" placeholder="Antal kvm" value=""><br />
      </div>

      <input type="submit" id="calculate_price" class="btn btn-primary" value="SE DITT PRIS"> <a href="/privat/fonsterputs/#my_price_form" rel="nofollow" class="button">Räkna pris för Fönsterputs</a>
    </div>

  </div>
</div>
<div id="show_price" style="display: none;">

  <div id="close" onclick="jQuery('#show_price').hide();">stäng x</div>

  <table class="paket-wrapper">
    <tbody>

      <tr>
        <!-- <td class="raknareIkon hidden-xs"><img src="/images/ikon/kalkyator/1.png" alt="Kostnad">
        </td> -->
        <td class="raknareTitel">
          <h5>Städning per månad<span class="asterisk">*</span></h5>
        </td>
        <td><span id="pris_s" data-number="9" class="price"></span> kr</td>
        <td class="raknareLasmer "><a class="las-mer" href="/privat/hemstadning/">Läs mer</a></td>

        <td><a class="intresse-btn-small hidden-xs" data-toggle="modal" data-target="#offert-modal"
            rel="noopener noreferrer nofollow" href="/boka/?v_lj_tj_nst=Hemst%C3%A4dning"
            onclick="toggle_visibility('overlaybooking');">Boka</a></td>
      </tr>

      <tr>
        <!-- <td class="raknareIkon hidden-xs"><img src="/images/ikon/kalkyator/2.png" alt="Kostnad">
        </td> -->
        <td class="raknareTitel">
          <h5>Städning varannan vecka<span class="asterisk">*</span></h5>
        </td>
        <td><span id="pris_m" data-number="10" class="price"></span> kr</td>
        <td class="raknareLasmer "><a class="las-mer" href="/privat/hemstadning/">Läs mer</a></td>

        <td><a class="intresse-btn-small hidden-xs" data-toggle="modal" data-target="#offert-modal"
            rel="noopener noreferrer nofollow" href="/boka/?v_lj_tj_nst=Hemst%C3%A4dning"
            onclick="toggle_visibility('overlaybooking');">Boka</a></td>
      </tr>
      <tr>
        <!-- <td class="raknareIkon hidden-xs"><img src="/images/ikon/kalkyator/3.png" alt="Kostnad">
        </td> -->
        <td class="raknareTitel">
          <h5>Städning varje vecka<span class="asterisk">*</span></h5>
        </td>
        <td><span id="pris_l" data-number="11" class="price"></span> kr</td>
        <td class="raknareLasmer "><a class="las-mer" href="/privat/hemstadning/">Läs mer</a></td>

        <td><a class="intresse-btn-small hidden-xs" data-toggle="modal" data-target="#offert-modal"
            rel="noopener noreferrer nofollow" href="/boka/?v_lj_tj_nst=Hemst%C3%A4dning"
            onclick="toggle_visibility('overlaybooking');">Boka</a></td>
      </tr>
      <tr>
        <!-- <td class="raknareIkon hidden-xs"><img src="/images/ikon/kalkyator/5.png" width="35" height="35" alt="Kostnad">
        </td> -->
        <td class="raknareTitel">
          <h5>Storstädning<span class="asterisk">***</span></h5>
        </td>
        <td><span id="storstadning" data-number="8" class="price"></span> kr</td>
        <td class="raknareLasmer "><a class="las-mer" href="/privat/storstadning/">Läs mer</a></td>

        <td><a class="intresse-btn-small hidden-xs" data-toggle="modal" data-target="#offert-modal"
            rel="noopener noreferrer nofollow" href="/boka/?v_lj_tj_nst=Storst%C3%A4dning"
            onclick="toggle_visibility('overlaybooking');">Boka</a></td>
      </tr>
      <tr>
        <!-- <td class="raknareIkon hidden-xs"><img src="/images/ikon/kalkyator/6.png" alt="Kostnad">
        </td> -->
        <td class="raknareTitel">
          <h5>Flyttstädning<span class="asterisk">***</span></h5>
        </td>
        <td><span id="flyttstadning" data-number="7" class="price"></span> kr</td>
        <td class="raknareLasmer "><a class="las-mer" href="/privat/flyttstadning/">Läs mer</a></td>

        <td><a class="intresse-btn-small hidden-xs" data-toggle="modal" data-target="#offert-modal"
            rel="noopener noreferrer nofollow" href="/boka/?v_lj_tj_nst=Flyttst%C3%A4dning"
            onclick="toggle_visibility('overlaybooking');">Boka</a></td>
      </tr>
      <tr>
        <td>
          <h5>Fönsterputs</h5>
        </td>
        <td colspan="3"><a class="intresse-btn-small hidden-xs" data-toggle="modal" data-target="#offert-modal"
            rel="noopener noreferrer" href="/privat/fonsterputs/?v_lj_tj_nst=Fönsterputs">Räkna ut ditt pris här</a>
        </td>
      </tr>

      <tr>
        <td colspan="4" class="disclaimer">
          *Priset är endast uppskattat. Du får ett exakt pris efter vi genomför ett kostnadsfritt hembesök där vi
          skräddarsyr efter dina behov
          och önskemål.<br>

          **För priser över 200 kvm ring eller maila för offert.
          Priset är efter skatteavdraget på 50% som vi gör åt dig direkt på fakturan.
        </td>
      </tr>
    </tbody>
  </table>

</div>
<!-- END kalkmain.html -->