<!-- Banner -->
<section id="banner" style="background-image: url({{ page.image }});background-repeat: no-repeat;background-size: cover;">
  <div class="content">
    <header style="background-color:rgba(234, 255, 245, 0.85);margin:0 15px 0 15px; padding:10px;border-radius: 5px;">
      <h1>{{ page.title }}<br /></h1>
      <p>{{ page.description }}</p>
    </header>

  </div>
  <span class="image object">
    <img src="/images/ikon/trustFiveYears.png" alt="Reco Rekommenderat" title="Reco Rekommenderat" class="editable" />
  </span>
</section>

