<!-- Banner -->
<section id="banner" style="background-image: url({{ page.image }});background-repeat: no-repeat;background-size: cover;">
  <div class="content">
    <header style="background-color:rgba(255,255,255,0.85);margin:0 15px 0 15px; padding:10px;border-radius: 5px;">
      <h1>{{ page.title }}<br /></h1>
      <p>{{ page.description }}</p>
    </header>
    <!-- <p class="editable">
      Aenean test for cuk sake ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.
    </p> -->


  </div>
  <span class="image object">
    <img src="/images/ikon/trustFiveYears.png" alt="Reco Rekommenderat" title="Reco Rekommenderat" class="editable" />
  </span>
</section>
