<!-- BEGIN banner-landing -->
<section id="banner" style="background-image: url({{ page.image }});background-repeat: no-repeat;background-size: cover; padding-top:20em;">
  <div class="content">
    <header style="background-color:rgba(255,255,255,0.85);margin:0 15px 0 15px; padding:10px;border-radius: 5px;">
      <h1>{{ page.title }}<br /></h1>
      <p>{{ page.description }}</p>

      <ul class="actions">
        <li><a href="/boka/" id="button" class="button primary large knap">Boka Nu</a></li>
      </ul>

    </header>

  </div>
  <span class="image object">
    &nbsp;
  </span>
</section>
<!-- END banner-landing -->