<!-- Banner -->
<section id="banner" style="background-image: url({{ page.image }});background-repeat: no-repeat;background-size: cover;">
  <div class="content">
    <header style="background-color:rgba(234, 255, 245, 0.85);margin:0 15px 0 15px; padding:10px;border-radius: 5px;">
      <h1>{{ page.title }}<br /></h1>
      <p>{{ page.description }}</p>
      {% if page.url != '/boka/' %}      
      <ul class="actions">
        <li><a href="{% if page.url != '/' %}#booknow{% else %}/boka/{% endif %}" id="button" class="button primary large editable knap">Boka Nu</a></li>
      </ul>
{% endif %}
      <h2><a href="tel:+4686605555">08 - 660 55 55</a>
        <br /><a href="mailto:kundtjanst@enrenarevardag.se">E-Post</a>
        </h2>

    </header>

  </div>
  <span class="image object">
    &nbsp;
  </span>
</section>

