<!-- Banner -->
<section id="banner" style="background-image: url({{ page.image }});background-repeat: no-repeat;background-size: cover;">
  <div class="content">
    <header style="background-color:rgba(234, 255, 245, 0.85);margin:0 15px 0 15px; padding:10px;border-radius: 5px;">
      <h1>{{ page.title }}<br /></h1>
      <p>{{ page.description }}</p>
      
      <h3><img src="/images/ikon/five-star.png" alt="Rekommenderat företag" width="250px;" /><a href="tel:+4686605555">08 - 660 55 55</a></h3>
    </header>

  </div>
  <span class="image object">
    &nbsp;
  </span>
</section>

