<style>
.flex {
  display: flex;
  flex-wrap: wrap;
}
.item {
  flex: 1 0 40%;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  padding-right: 20px;
}
.item-child {
  flex: 1 auto;  
  min-width: 200px;
}
.item-staticchild {
 flex: 0 0 100%;
}
#boka { display:none; } */
</style>
<script>
    $(function() {
        $( "#button" ).click(function() {
            $( "#boka" ).toggle();
        });
    });
</script>
  
                  <div style="background-color:#fff; padding:15px;border-radius: 3px;" class="flex">
                    <div class="item">
                      <div class="item-staticchild">
                          <h3 id="booknow" class="editable">Hos oss får du alltid pris garanti</h3>
                          <p class="editable">
                          	Vi matchar v&aring;ra konkurenters offert. L&aring;t oss hj&auml;lpa dig med st&auml;dningen s&aring; kan du spendera din tid p&aring; annat.
                          </p>
                          <ul class="actions">
                              <li><a href="#booknow" id="button" class="button primary large editable">Boka Nu</a></li>
                            </ul>

                        
                      </div>
                      <div id="boka" class="item-child">
{% if collection == privat %}
{% include privat-form.html %}
{% elsif collection == foretag %}
{% include foretag-from.html %}
{% else %}
{% include privat-form.html %}
{% endif %}
                      </div>
                    </div>
                    <div class="item">
                    <div class="item-staticchild">
                      <h3 class="editable">Läs mer om våra tjänster</h3>
                      <p class="editable">Vi har ett brett urval av tjänster för företag och privatpersoner</p>
                    </div>
                    <div class="item-child">
                      <h4>För företag</h4>
{% for foretag in site.foretag %} {% if foretag.framsida == true %} 
                      <div class="col-4 col-12-small" style="margin-bottom:10px;">
                        <a href="{{ foretag.url }}{{ foretag.hubspot }}">{{ foretag.menutitle }}</a> <i class="fa fa-arrow-right"></i>
                      </div>
{% endif %}{% endfor %}
                    </div> 
                    <div class="item-child">
                      <h4>För privatpersoner</h4>
{% for privat in site.privat %}{% if privat.framsida == true %} 
                      <div class="col-4 col-12-small" style="margin-bottom:10px;">
                        <a href="{{ privat.url }}{{ privat.hubspot }}">{{ privat.menutitle }}</a> <i class="fa fa-arrow-right"></i>
                      </div>
{% endif %}{% endfor %}
                    </div>
                  </div>
                  </div>