
<script>
    $(function() {
        $( ".knap" ).click(function() {
            $( "#boka" ).toggle();
        });
    });
</script>

<!-- Banner -->
<section style="padding:0">
  <div style="border-radius:3px;background-color: rgba(255,255,255,0.85);" class="flex">
    <div class="item" style="padding:10px;">
        <div class="item-staticchild">
            
          <h3 id="booknow" class="editable">Hos oss får du alltid pris garanti</h3>
            <p class="editable">Vi matchar v&aring;ra konkurenters offert. L&aring;t oss hj&auml;lpa dig med st&auml;dningen s&aring; kan du spendera din tid p&aring; annat.</p>
       
        </div>
        <div id="boka" class="item-child">
  {% if page.url != '/' %}{% include boka-form.html %}{% endif %}
        </div>
      </div>
      {% if page.url != '/' %}
    <div class="item" style="padding:10px;">

    <div class="item-staticchild">
      <h3 class="editable">Läs mer om våra tjänster</h3>
      <p class="editable">Vi har ett brett urval av tjänster för företag och privatpersoner</p>
    </div>
    <div class="item-child">
      <h3 style="text-decoration:underline #94ce3c solid">För företag</h3>
{% for foretag in site.foretag %} {% if foretag.framsida == true %} 
      <div class="col-4 col-12-small" style="margin-bottom:10px;">
        <h4><a href="{{ foretag.url }}{{ foretag.hubspot }}">{{ foretag.menutitle }}</a> <i class="fa fa-arrow-right" style="color:#94ce3c;"></i></h4>
      </div>
{% endif %}{% endfor %}
    </div> 
      <div class="item-child">
        <h3 style="text-decoration:underline #94ce3c solid">För privatpersoner</h3>
{% for privat in site.privat %}{% if privat.framsida == true %} 
        <div class="col-4 col-12-small" style="margin-bottom:10px;">
          <h4><a href="{{ privat.url }}{{ privat.hubspot }}">{{ privat.menutitle }}</a> <i class="fa fa-arrow-right" style="color:#94ce3c;"></i></h4>
        </div>
{% endif %}{% endfor %}
      </div>
    </div>
{% endif %}
  </div>
</section>