                <div style="background-color:#fff; padding:15px;border-radius: 3px;">
                <h3>Boka en av våra andra tjänster</h3>
                <div class="row">
{% for foretag in site.foretag %} {% if foretag.framsida == true %} 
                  <div class="col-4 col-12-medium editable" style="margin-bottom:10px;"><a href="#">{{ foretag.menutitle }}</a> <i class="fa fa-arrow-right"></i></div>
{% endif %}
{% endfor %}
{% for privat in site.privat %}{% if privat.framsida == true %} 
                  <div class="col-4 col-12-medium editable" style="margin-bottom:10px;"><a href="#">{{ privat.menutitle }}</a> <i class="fa fa-arrow-right"></i></div>
{% endif %}
{% endfor %}
                </div>
                </div>
                <br />