<style>
  #cookie-notice {
    padding: 15px 10px 75px 10px;
    display: none;
    text-align: left;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #194d1b;
    color: #fff;
    flex-wrap: wrap;
    align-items: center;
  }
  #cookie-notice a {
    color: #fff;
  }

  .yes {
    flex: 0 0 90px;
    cursor: pointer;
    margin-bottom: 13px;
    margin-right: 13px;
    align-self: flex-end;
    font-size: 1em;
    height: 2.65em;
    line-height: 2.65em;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 0.375em;
    border: 0;
    color: #194d1b !important;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(228deg, rgb(255, 144, 144), #9be494);
    background-origin: padding-box;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 2s ease infinite;
    -moz-animation: AnimationName 2s ease infinite;
    animation: AnimationName 2s ease infinite;


  }
  .no {
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: inset 0px 0px 0px 1px #ffffff; 
    box-shadow: inset 0px 0px 0px 1px #ffffff;
    color: #fff !important;

  }

  #cookie-notice p {
    flex: 1 0 300px;
    cursor: pointer;
    margin-bottom: 13px;
    margin-left: 5px;
    font-size: 0.9em;

  }



  @media (min-width: 554px) {
    #cookie-notice {

    {% unless page.collection == 'privat' or page.collection == 'foretag' or page.url == '/boka/' %}
    padding: 15px 10px 10px 250px;
    {% else %}
    padding: 15px 10px 10px 10px;
    {% endunless %}
    }

  }
  @media (min-width: 1680px) {
    #cookie-notice {
      {% unless page.collection == 'privat' or page.collection == 'foretag' or page.url == '/boka/' %}
    padding: 15px 10px 10px 300px;
    {% else %}
    padding: 15px 10px 10px 10px;
    {% endunless %}
    }
    .yes {
      flex: 0 0 120px;
    }

  }

  
</style>
<div id="cookie-notice">
    <a class="yes" href="#" id="cookie-notice-accept">Hjälp oss!</a>
    <a class="yes no" href="#" id="cookie-notice-decline">Nej tack.</a>
  <p>Vi skulle gärna villja använda cookies för att samla in information om hur du interagerar med vår webbplats och
    komma ihåg dig.
    Hjälp oss bli bättre! För att få veta mer om de cookies vi använder, se <a class="link" href="/cookies/">denna
      sida.</a>
  </p>
</div>

<script>
  function createCookie(name, value, days) {
    var expires = "";
    if (days) {
      var date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
      expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + value + expires + "; path=/";
  }
  function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
  }
  function eraseCookie(name) {
    createCookie(name, "", -1);
  }

  if (readCookie('cookie-notice-dismissed') == 'true') {
    {% include analytics.js %}
  } else {
    document.getElementById('cookie-notice').style.display = 'flex';

    {% include matomo.js %}

  }
  if (readCookie('cookie-notice-dismissed') == 'false') {
    document.getElementById('cookie-notice').style.display = 'none';

    {% include matomo.js %}
  }
  document.getElementById('cookie-notice-accept').addEventListener("click", function () {
    createCookie('cookie-notice-dismissed', 'true', 31);
    document.getElementById('cookie-notice').style.display = 'none';
    _paq.push(['trackEvent', 'Consent', 'wantCookie']);
    location.reload();
  });
  document.getElementById('cookie-notice-decline').addEventListener("click", function () {
    createCookie('cookie-notice-dismissed', 'false', 31);
    document.getElementById('cookie-notice').style.display = 'none';
    _paq.push(['trackEvent', 'Consent', 'dontWantCookie']);
    location.reload();
  });
  document.getElementById('cookie-notice-gimme').addEventListener("click", function () {
    createCookie('cookie-notice-dismissed', 'true', 31);
    document.getElementById('cookie-notice').style.display = 'none';
    location.reload();
  });


</script>