---
title: Bästa Kontorstädning på Vasastan
description: >-
  Vasastans bästa och mest omtyckta kontorsstädningsfirma. Boka kontorsstädning
  med oss idag!
city: Vasastan
type: kontorsstädning_företag
permalink: /foretag/kontorsstadning/vasastan/
image: 
---

<!-- Page Wrapper -->
<div id="page-wrapper">

  {% include /landing/menu.html %}

  <!-- Banner -->
  <section id="banner">
    <div class="inner">
      <div class="logo"><img src="{{ site.baseurl }}/images/landing/Enrenare_vardag_loggosvg.svg" width="100px" height="100px" alt="En Renare Vardag i Stockholm AB logo" /></div>
      <h2>{{ page.title }}</h2>
      <p>{{ page.description }}</p>

    </div>
  </section>

  <!-- Wrapper -->
  <section id="wrapper">

    <!-- One -->
    <section id="one" class="wrapper spotlight style1">
      <div class="inner">
        <img class="image editable" alt="Alltid nöjda kunder! Läs våra recensioner på RECO!" title="Alltid nöjda kunder! Läs våra recensioner på RECO!" src="/images/landing/humphrey-muleba-9moqkzw0ngu-unsplash.jpg" srcset="/images/landing/humphrey-muleba-9moqkzw0ngu-unsplash.jpg 558w, /images/landing/humphrey-muleba-9moqkzw0ngu-unsplash@2x.jpg 1116w" width="276" />
        <div class="content editable">
        	<h2 class="major"><span class="icon fa-smile"></span> N&Ouml;JD-KUND-GARANTI</h2>
        	<p>V&aring;r arbetsledare g&ouml;r alltid efterkontroll av st&auml;darbetet i ert kontor och vi l&auml;mnar 3 dagars garanti och st&auml;ller inga krav p&aring; direkt besiktning.</p>
        	<p><a class="special" href="#four">L&auml;s mer</a></p>
        </div>
      </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper alt spotlight style2">
      <div class="inner">
        <img class="image editable" alt="Försäkring som täcker up till 10 miljoner eventuella skada." src="/images/landing/ulises-baga-oryoojvpq8e-unsplash.jpg" srcset="/images/landing/ulises-baga-oryoojvpq8e-unsplash.jpg 276w, /images/landing/ulises-baga-oryoojvpq8e-unsplash@2x.jpg 552w" title="Försäkring som täcker up till 10 miljoner eventuella skada." width="276" />
        <div class="content editable">
        	<h2 class="major"><span class="icon fa-thumbs-up"></span> ANSVARF&Ouml;RS&Auml;KRING</h2>
        	<p>Vi innehar ansvarsf&ouml;rs&auml;kring genom Vardia upp till 10 miljoner som t&auml;cker eventuella skada som orsakats i ert kontor.</p>
        	<p><a class="special" href="#four">L&auml;s mer</a></p>
        </div>
      </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper spotlight style3">
      <div class="inner">
        <img class="image editable" alt="Flexibel bokning för kontorsstädning" title="Flexibel bokning för kontorsstädning" src="/images/landing/andrea-natali-otjiuhq5zcw-unsplash.jpg" srcset="/images/landing/andrea-natali-otjiuhq5zcw-unsplash.jpg 558w, /images/landing/andrea-natali-otjiuhq5zcw-unsplash@2x.jpg 1116w" width="276" />
        <div class="content editable">
        	<h2 class="major"><span class="icon fa-handshake"></span> FLEXIBILITET</h2>
        	<p>Du kan avboka/omboka din kontorsst&auml;dning 24 timmar innan den bokade tiden helt kostnadsfritt.</p>
        	<p><a class="special" href="#four">L&auml;s mer</a></p>
        </div>
      </div>
    </section>

    <!-- Four -->
    <section id="four" class="wrapper alt style1">
      <div class="inner">
        <div class="editable">

        	<div id="my_price_form">
        		<div class="find-price">
        			<div class="my-price-pre-text">
        				<h2 class="major">Vasastans kostnadseffektivaste kontorsst&auml;dningsf&ouml;retag</h2>
        				<p>Vi erbjuder kontorsst&auml;dning p&aring; Vasastans som du kan lita p&aring;. V&aring;r specialiserade kontorsst&auml;dnings-service kan f&aring; ditt f&ouml;retag att skina genom att eliminera all smuts som har l&auml;mnats kvar n&auml;r ljusen sl&auml;ckts. V&aring;r st&auml;dservice f&ouml;r kontorsst&auml;dning &auml;r skr&auml;ddarsytt f&ouml;r att passa ditt f&ouml;retags behov och dess krav p&aring; kvalitetsst&auml;dning. V&aring;ran service betyder omtanke! Boka st&auml;dning av ditt kontor med oss idag och f&aring; b&auml;ttre trivsel och motivation hos dina kunder. <strong></strong></p>
        				<p><strong>Alla v&aring;ra f&ouml;retagskunder har en sak gemensamt: de &auml;r n&ouml;jda.</strong></p>
        				<h2>Vad kostar kontorsst&auml;dning?</h2>
        				<p>Kontorsst&auml;dnings pris per timme &auml;r ingenting g&auml;mf&ouml;rt med vad ditt f&ouml;retag tj&auml;nar p&aring; det! Dina anst&auml;llda trivs b&auml;ttre, m&aring;r b&auml;ttre och jobbar b&auml;ttre! Eftersom priset beror p&aring; storlek, m&ouml;blering och geografisk plats &auml;r det b&auml;sta att du <a rel="nofollow" class="cc-active" href="http://localhost:4000/boka/?v_lj_tj_nst=Kontorst%C3%A4dning">ber om en offert</a>. Vi svarar inom 24 timmar. Du &auml;r v&auml;lkommen att h&ouml;ra av dig om du vill ha en checklista.</p>
        				<ul>
        					<li>H&ouml;g kvalitet till rimligt pris</li>
        					<li>N&ouml;jd kundgaranti</li>
        					<li>Intern utbildning till V&aring;ra medarbetare</li>
        					<li>Ansvarsf&ouml;rs&auml;kring &amp; Personal f&ouml;rs&auml;kring</li>
        					<li>H&ouml;g S&auml;kerhet</li>
        					<li>Inga inst&auml;llelseavgifter, inga fakturaavgifter, inga resekostnader</li>
        					<li>Varje anst&auml;lld skriver p&aring; ett sekretessavtal samt l&auml;mnar ett utdrag ur</li>
        				</ul>
        				<h2 class="major" id="vadingar">Vad ing&aring;r i kontorsst&auml;dning p&aring; Vasastan?</h2>
        			</div>
        			<section class="features">
        				<article><img class="image" alt="Kontorsstädning av kök" title="Kontorsstädning av kök" srcset="/images/landing/benjamin-child-gwe0dlvd9e0-unsplash.jpg 600w, /images/landing/benjamin-child-gwe0dlvd9e0-unsplash@2x.jpg 1200w" width="505" src="/images/landing/benjamin-child-gwe0dlvd9e0-unsplash.jpg" />
        					<div>
        						<h3 class="major">Vad ing&aring;r i kontorsst&auml;dning?</h3>
        						<ul>
        							<li>T&ouml;mning av papperskorgar.</li>
        							<li>Avtorkning av fria ytor p&aring; skrivbord.</li>
        							<li>Avtorkning av f&ouml;nsterb&auml;nkar, hyllor mm.</li>
        							<li>Avtorkning av telefoner och bordsarmaturer.</li>
        							<li>Torkning av receptionsdisk samt &ouml;vriga m&ouml;bler.</li>
        							<li>Torka bort fl&auml;ckar p&aring; d&ouml;rrar, karmar, v&auml;ggar.</li>
        							<li>Torka bort glaspartier och str&ouml;mbrytare.</li>
        							<li>Kontorsstol dammsugs vid behov, underredet torkas.</li>
        							<li>Iordningst&auml;llning av stolar i konferensrum.</li>
        							<li>Dammsugning av golv och mattor.</li>
        							<li>Fuktmoppning av golv (st&auml;dmaterial anpassas efter golvmaterial).</li>
        							<li>Damning av fria ytor.</li>
        							<li>Borttagning av fl&auml;ckar p&aring; speglar, lister och d&ouml;rrar.</li>
        						</ul>
        					</div>
        				</article>
        				<article><img class="image" alt="Kontorsstädning av WC" title="Kontorsstädning av WC" srcset="/images/landing/franck-v-d6lzdabxp6i-unsplash.jpg 533w, /images/landing/franck-v-d6lzdabxp6i-unsplash@2x.jpg 1066w" width="533" height="400" src="/images/landing/franck-v-d6lzdabxp6i-unsplash.jpg" />
        					<div>
        						<h3 class="major">WC</h3>
        						<ul>
        							<li>Reng&ouml;rning av handfat, toalett och dusch.</li>
        							<li>Avkalkning f&ouml;r ovan n&auml;mnda om det beh&ouml;vs.</li>
        							<li>Putsning av speglar, avfl&auml;cka d&ouml;rrar, karmar och str&ouml;mbrytare.</li>
        							<li>P&aring;fyllning av toapapper, pappershanddukar och tv&aring;l.</li>
        							<li>T&ouml;mning papperskorgar och sanitetsbeh&aring;llare.</li>
        							<li>Dammsugning och torkning av golv.</li>
        							<li>Fuktmoppning av golv (st&auml;dmaterial anpassas efter golvmaterial).</li>
        						</ul>
        					</div>
        				</article>
        				<article><img class="image" alt="Städa Kök &amp; Pentry på kontoret" title="Städa Kök &amp; Pentry på kontoret" src="/images/landing/piotr-miazga-zygtxp8h5sy-unsplash.jpg" srcset="/images/landing/piotr-miazga-zygtxp8h5sy-unsplash.jpg 600w, /images/landing/piotr-miazga-zygtxp8h5sy-unsplash@2x.jpg 1200w" width="600" height="400" />
        					<div>
        						<h3 class="major">K&ouml;k &amp; Pentry</h3>
        						<ul>
        							<li>T&ouml;mning av sopor.</li>
        							<li>Avtorkning bord, stolar, diskb&auml;nk och &ouml;vriga b&auml;nkar och hyllor.</li>
        							<li>Avtorkning av sk&aring;p och l&aring;dor p&aring; utsidan, sopsk&aring;p &auml;ven inv&auml;ndigt.</li>
        							<li>Avtorkning av spis, micro och kaffeautomat.</li>
        							<li>Avfl&auml;ckning av d&ouml;rrar, karmar samt str&ouml;mbrytare.</li>
        							<li>Dammsugning och v&aring;ttorkning av golv (st&auml;dmaterial anpassas efter golvmaterial).</li>
        						</ul>
        					</div>
        				</article>
        				<article><img class="image" alt="Övrigt om kontorsstädning" title="Övrigt om kontorsstädning" src="/images/landing/kobu-agency-7okkfhxrxnw-unsplash.jpg" srcset="/images/landing/kobu-agency-7okkfhxrxnw-unsplash.jpg 1200w, /images/landing/kobu-agency-7okkfhxrxnw-unsplash@2x.jpg 2400w" width="1200" height="800" />
        					<div>
        						<h3 class="major">&Ouml;vrigt</h3>
        						<ul>
        							<li>Avtorkning av lister, d&ouml;rrhandtag, tavlor, brandsl&auml;ckare mm.</li>
        							<li>Damning av hyllor &ouml;ver normal r&auml;ckh&ouml;jd.</li>
        							<li>Dammsugning av stoppade m&ouml;bler.</li>
        							<li>Dammtorkning av gr&ouml;na v&auml;xter.</li>
        						</ul>
        					</div>
        				</article>
        			</section>
        			<div>
        				<h4 class="major">St&auml;dschema</h4>
        				<p>Uppr&auml;ttas i samband med jobb start och samr&aring;d med kund f&ouml;r att &aring;stadkomma det b&auml;sta resultat.</p>
        				<h3>St&auml;dmaterial</h3>
        				<ul>
        					<li>En st&auml;d vagn med tillh&ouml;rande utrustning hyrs till kund. (Frivilligt)</li>
        					<li>En dammsugare hyrs till kund. (Frivilligt)</li>
        					<li>Alla medel som anv&auml;nds i kontoret &auml;r Svanesm&auml;rkta och milj&ouml;m&auml;rkta</li>
        				</ul>
        			</div>
        		</div>
        	</div>
        </div></div></section>

  </section>

  <!-- Footer -->
  <section id="footer">
    <div class="inner">
      <div class="editable">
      	<h2 class="major">GARANTI</h2>
      	<!--base32-c9gq6t9k68pp6eb7e4v78ebb6rw70w1pcnh3et9mervkgtb2c8v74xtq61vk2w33dtm36tbm75ppawkpddkq8rhjccw7cdtmf1u72dhhenrkgxvb6dhp8xkh69jk6d34cdvkcdkt6dn3cx37e5n66x3a6tu78dv3chnkatbrdmv6ux32cnjpexhq61t7cchpdtm70tvpd1r6acba6tr66xhkcnw74dtgcgtpmrttdtr3cxk2dnj66x9jent6pcb5chn6pdk3cwpp4rbkcmtk4-base32-->
      	<section><iframe src="https://widget.reco.se/v2/widget/3673336?mode=HORIZONTAL_QUOTE" title="Reco Betyg" scrolling="no" style="border: 0px none; display: block; margin-top: 20px; --darkreader-inline-border-top:currentcolor; --darkreader-inline-border-right:currentcolor; --darkreader-inline-border-bottom:currentcolor; --darkreader-inline-border-left:currentcolor;" data-reactroot="" data-darkreader-inline-border-top="" data-darkreader-inline-border-right="" data-darkreader-inline-border-bottom="" data-darkreader-inline-border-left="" width="100%" height="225"></iframe></section>
      	<!--base32-c9gq6t9k68pp6eb7e4v78ebb6rw70w1pcnh3et9mervkgtb2c8v74xtq61vk2w33dtm36tbm75ppawkpddkq8rhjccw7cdtmf1u72dhhenrkgxvb6dhp8xkh69jk6d34cdvkcdkt6dn3cx37e5n66x3a6tu78dv3chnkatbrdmv6ux32cnjpexhq61t7cchpdtm70tvpd1r6acba6tr66xhkcnw74dtgcgtpmrttdtr3cxk2dnj66x9jent6pcb5chn6pdk3cwpp4rbkcmtk4-base32-->
      	<p>Vi l&auml;mnar garanti p&aring; st&auml;dningen, eventuella klagom&aring;l som kan framkomma vid besiktningstillf&auml;llet &aring;tg&auml;rdas snarast av oss. Garantin g&auml;ller i&nbsp;<strong>3 dagar</strong>&nbsp;fr&aring;n och med st&auml;dningstillf&auml;llet.</p>
      	<h2 class="major">Boka idag!</h2>
      </div>

      <section class="features">
        <article id="boka">
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
          {% include /main/landingpage-hubspotform.html %}
        </article>

        <article>
          <ul class="contact">
            <li class="icon solid fa-home">
              En Renare Vardag I Stockholm AB
              Storgatan 104 B<br />
              171 55 Solna<br />
              Org nr: 556847-2038
            </li>
            <li class="icon solid fa-phone">08 - 660 55 55</li>
            <li class="icon solid fa-envelope"><a href="mailto:{{ site.kundtjanstmail }}">Email</a></li>
            <li class="icon brands fa-facebook-f"><a href="https://www.facebook.com/enrenarevardagAB/">Facebook</a></li>
            <li class="icon brands fa-instagram"><a href="https://www.instagram.com/enrenarevardag/">Instagram</a></li>
            <li class="icon brands fa-linkedin"><a href="https://www.linkedin.com/company/en-renare-vardag-i-stockholm-ab/">Linkedin</a></li>
          </ul>
        </article>
      </section>


      {% include /landing/footer.html %}
    </div>
  </section>

</div>
<style>
    #banner, #wrapper, body {
    background-image: url({{ page.image }});
    }
</style>