<!-- begin menu.html -->
<!-- Header -->
<header id="header" class="alt">
  <h1><a href="{{ site.baseurl }}/index.html" class="cc-active">{{ site.title }}</a></h1>
  <nav>
    <a href="#menu">Meny</a>
  </nav>
</header>
<nav id="menu">
  <div class="inner">
    <h2>Meny</h2>
    <ul class="links">
      <li><a href="{{ site.baseurl }}/">Hem</a></li>
      <li><a href="{{ site.baseurl }}/#my_price_form">Räkna ditt pris</a></li>
      <li><a href="{{ site.baseurl }}/#boka">Boka</a></li>
      <li><a href="https://enrenarevardag.se/om-oss/">Om Oss</a></li>

    </ul>
    <a href="#" class="close">Stäng</a>
  </div>
</nav>
<!-- end menu.html -->
  