<!-- begin menu.html -->
<!-- Header -->
<header id="header" class="alt">
  <h1><a href="{{ site.baseurl }}/" class="cc-active">{{ site.title }}</a></h1>
  <nav>
    <a href="#menu">Meny</a>
  </nav>
</header>
<nav id="menu">
  <div class="inner">
    <h2>Meny</h2>
    <ul class="links">
      <li><a href="/">Hem</a></li>
      {% if page.type == 'flyttstädning_privat' or page.type == 'fönsterputtsning_privat' or page.type == 'hemstädning_privat' or page.type == 'storstädning_privat' %}<li><a href="#my_price_form">Räkna ditt pris</a></li>{% endif %}
      <li><a href="#boka">Boka</a></li>
      <li><a href="/om-oss/">Om Oss</a></li>
      <li><a href="/din-trygghet/">Din Trygghet</a></li>

    </ul>
    <a href="#" class="close">Stäng</a>
  </div>
</nav>
<!-- end menu.html -->
  