<!-- being scripts.html -->
<script src="{{ site.baseurl }}/assets/js/jquery-3.4.1.min.js"></script>
<script src="{{ site.baseurl }}/assets/landing/js/jquery.scrollex.min.js"></script>
<script src="{{ site.baseurl }}/assets/landing/js/browser.min.js"></script>
<script src="{{ site.baseurl }}/assets/landing/js/breakpoints.min.js"></script>
<script src="{{ site.baseurl }}/assets/landing/js/util.js"></script>
<script src="{{ site.baseurl }}/assets/landing/js/main.js"></script>
<script src="/assets/landing/js/kalk.js"></script>
