<!-- being scripts.html -->
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.scrollex.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/browser.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/breakpoints.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/util.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
<script src="/assets/js/kalk.js"></script>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5554697.js"></script>
<!-- End of HubSpot Embed Code -->
<!-- end scripts.html -->