---
layout: default
---
							<!-- Banner -->
              <section id="banner">
									<div class="content">
										<header>
											<h1>{{ page.title }}<br /></h1>
											<p>{{ page.description }}</p>
										</header>
										<ul class="actions">
											<li><a href="/boka/" class="button primary large editable">Boka Nu</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="{{ page.image }}" alt="{{ page.title }}" />
									</span>
								</section>
							<!-- Content -->
								<section>
{{ content }}
              <ul class="actions">
                <li><a href="/boka/" class="button primary large editable">Boka Nu</a></li>
              </ul>
								</section>

