---
layout: default
---
{% include banner.html %}
{% include bokamera.html %}



<!-- Content -->
<section id="lasmer">
  {{ content }}
  {% if page.bokning == false %}
  &nbsp;<img src="/images/ikon/nojdkund.png" />
  {% else %}
  <img src="/images/ikon/nojdkund.png" />
  <ul class="actions">
    <li><a href="/boka/{{ page.hubspot }}" class="button primary large editable knap" {% if page.husbppot != '' %}rel="nofollow" {% endif %}>Boka Nu!</a></li>
  </ul>
  {% endif %}
</section>

{% include reco.html %}