---
layout: default
---
{% include banner_booking.html %}
<!-- Content -->
<section>
  <div class="flex" style="background-color:#fff; padding-top:10px;">
    <div class="item" style="border-radius: 3px;display: block;">
      {{ content }}
      <br />
 {% if page.bokaknapp == true %}
<a href="/boka/" class="button large">Boka städning!</a>
<br /><br />
{% endif %}

      <p style="font-size: 0.85em"><em>Artikel Postad: {{ page.date | date_to_long_string }}</em></p>

    </div>
    <div class="item">

      <div class="item-staticchild">
        <h2 class="editable">Läs mer om våra tjänster</h2>
        <p class="editable">Vi har ett brett urval av tjänster för företag och privatpersoner</p>
      </div>
      <div class="item-child">
        <h3 style="text-decoration:underline #94ce3c solid"><a href="/foretag/">För företag</a></h3>
        {% for foretag in site.foretag %} {% if foretag.framsida == true %}
        <div class="col-4 col-12-small" style="margin-bottom:10px;">
          <h4><a href="{{ foretag.url }}{{ foretag.hubspot }}">{{ foretag.menutitle }}</a> <i class="fa fa-arrow-right"
              style="color:#94ce3c;"></i></h4>
        </div>
        {% endif %}{% endfor %}
      </div>
      <div class="item-child">
        <h3 style="text-decoration:underline #94ce3c solid"><a href="/privat/">För privatpersoner</a></h3>
        {% for privat in site.privat %}{% if privat.framsida == true %}
        <div class="col-4 col-12-small" style="margin-bottom:10px;">
          <h4><a href="{{ privat.url }}{{ privat.hubspot }}">{{ privat.menutitle }}</a> <i class="fa fa-arrow-right"
              style="color:#94ce3c;"></i></h4>
        </div>
        {% endif %}{% endfor %}
      </div>
    </div>
  </div>
</section>

{% include reco.html %}

<!-- Nyheter Section -->
<section>
  <header class="major">
    <h2>Läs fler nyheter!</h2>
  </header>
  <div class="posts">
    {% for post in site.posts limit:6 %}
    {% if post.url != page.url %}
    {% if forloop.index < 6 or found %}
    <article style="background-color: #fff;border-radius: 3px; padding: 15px;">
      <a href="{{ post.url }}" class="image"><img src="{{ post.image }}" alt="{{ post.title }}" /></a>
      <h3>{{ post.title }}</h3>
      <p>{{ post.description }}</p>
      <ul class="actions">
        <li><a href="{{ post.url }}" class="button">Läs mer</a></li>
      </ul>
    </article>
    {% endif %}
    {% else %}
    {% assign found = true %}
    {% endif %}
    {% endfor %}
  </div>
</section>