---
layout: default
---
{% include banner_booking.html %}
<!-- Content -->
<section>
  <div class="flex" style="background-color:#fff; padding-top:10px;">
    <div class="item blogimages" style="border-radius: 3px;display: block;">

      {{ content }}
      <br />
      {% if page.bokaknapp == true %}
      <a href="/boka/" class="button large">Boka städning!</a>
      <br /><br />
      {% endif %}
      <p style="font-size: 0.85em"><em>Artikel Postad den
          {% assign d = page.date | date: "%-d"  %}{% case d %}{% when '1' or '21' or '31' or '2' or '22' %}{{ d }}:a
          {% else %}{{ d }}:e{% endcase %}{% assign m = page.date | date: "%-m" %}{% case m %}{% when '1' %} Januari
          {% when '2' %} Februari {% when '3' %} Mars {% when '4' %} April {% when '5' %} Maj {% when '6' %} Juni
          {% when '7' %} Juli {% when '8' %} Augusti {% when '9' %} September {% when '10' %} Oktober {% when '11' %}
          November {% when '12' %} December {% endcase %}{{ page.date | date: "%Y" }}

          av:</em></p>
        {% include author.html %}
        <div class="share">
          Dela artikeln:<br />
          <a style="text-decoration: none;" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url | xml_escape }}&title={{ page.title | xml_escape }}&summary={{ page.description | xml_escape | truncate: 190 }}&source={{ site.title }}" target="_blank" rel="noopener noreferrer nofollow">
            <img src="/images/ikon/linkedin.svg" alt="share on Linkedin" />
          </a>
          <a style="text-decoration: none;" href="https://touch.facebook.com/sharer.php?u={{ site.url }}{{ page.url | xml_escape }}&quote={{ page.description | xml_escape }} via enrenarevardag.se" target="_blank" rel="noopener noreferrer nofollow">
            <img src="/images/ikon/facebook.svg" alt="share on facebook" />
          </a>
          <a style="text-decoration: none;"  href="https://twitter.com/share?url={{ site.url }}{{ page.url | xml_escape }}&text={{ page.description | xml_escape }}&hashtags=enrenarevardag" target="_blank" rel="noopener noreferrer nofollow">
            <img src="/images/ikon/twitter.svg" alt="share on twitter" />
          </a>
          <a style="text-decoration: none;"  href="https://telegram.me/share/url?url={{ site.url }}{{ page.url }}&text={{ page.description }} via &#64;enrenarevardag" target="_blank" rel="noopener noreferrer nofollow">
            <img src="/images/ikon/telegram.svg" alt="share on telegram" />
          </a>
          <a style="text-decoration: none;"  href="https://reddit.com/submit/?url={{ site.url }}{{ page.url }}&title={{ page.title | xml_escape }}" target="_blank" rel="noopener noreferrer nofollow">
            <img src="/images/ikon/reddit.svg" alt="share on reddit" />
          </a>
        </div>


    </div>
    <div class="item">

      <div class="item-staticchild">
        <h2 class="editable">Läs mer om våra tjänster</h2>
        <p class="editable">Vi har ett brett urval av tjänster för företag och privatpersoner</p>
      </div>
      <div class="item-child">
        <h3 style="text-decoration:underline #94ce3c solid"><a href="/foretag/">För företag</a></h3>
        {% for foretag in site.foretag %} {% if foretag.framsida == true %}
        <div class="col-4 col-12-small" style="margin-bottom:10px;">
          <h4><a href="{{ foretag.url }}">{{ foretag.menutitle }}</a> <i class="fa fa-arrow-right"
              style="color:#94ce3c;"></i></h4>
        </div>
        {% endif %}{% endfor %}
      </div>
      <div class="item-child">
        <h3 style="text-decoration:underline #94ce3c solid"><a href="/privat/">För privatpersoner</a></h3>
        {% for privat in site.privat %}{% if privat.framsida == true %}
        <div class="col-4 col-12-small" style="margin-bottom:10px;">
          <h4><a href="{{ privat.url }}">{{ privat.menutitle }}</a> <i class="fa fa-arrow-right"
              style="color:#94ce3c;"></i></h4>
        </div>
        {% endif %}{% endfor %}
      </div>
    </div>
  </div>
</section>

{% include reco.html %}

<!-- Nyheter Section -->
<section>
  <header class="major">
    <h2>Läs fler nyheter!</h2>
  </header>
  <div class="posts-set">

    {% for post in site.posts limit: 5 %}
    {% if post.url != page.url %}
    {% if forloop.index < 5 or found %}
    <article style="background-color: #fff;border-radius: 3px; padding: 15px;">
      <a href="{{ post.url }}" class="image"><img src="{{ post.image }}" alt="{{ post.title }}" /></a>
      <h3>{{ post.title }}</h3>
      <p>{{ post.description }}</p>
      <ul class="actions">
        <li><a href="{{ post.url }}" class="button">Läs mer</a></li>
      </ul>
    </article>
    {% endif %}
    {% else %}
    {% assign found = true %}
    {% endif %}
    {% endfor %}
    <article style="background-color: #fff;border-radius: 3px; padding: 15px;">
      <h3>Arkiv</h3>
      <p>Här hittar du alla artiklar, tips och erbjudanden som vi publicerat på våran webbplats</p>
      <ul class="actions">
        <li><a href="/arkiv/" class="button">Gå till Arkiv</a></li>
      </ul>
    </article>
  </div>
</section>